<a href="https://colab.research.google.com/github/ANAVDUTT/IPHS290_CulturalAnalytics/blob/main/Copy_of_scrape_twitter_usgovs_simple_20221119.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# REST URL ONLY: Scrape Twitter for US Governors in 2022 Mid-Terms

# Setup

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import glob
import time
import requests

import json
from pprint import pprint

In [ ]:
import tweepy
import gc #collecting garbage
from wordcloud import WordCloud,STOPWORDS, ImageColorGenerator #visualisation

sns.set_theme(context='notebook', style='whitegrid', palette='vlag', font='serif')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# Mount GDrive to save long-running API data collection results

from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
%cd /gdrive/MyDrive/courses/2022f_iphs220_culturalanalytics/twitter
!ls -altr

[Errno 2] No such file or directory: '/gdrive/MyDrive/courses/2022f_iphs220_culturalanalytics/twitter'
/content
total 2420
drwxr-xr-x 4 root root   4096 Nov 16 14:34 .config
drwxr-xr-x 1 root root   4096 Nov 16 14:35 sample_data
-rw-r--r-- 1 root root    505 Nov 18 12:35 config_twitter.py
-rw-r--r-- 1 root root   2687 Nov 18 12:35 twitter_2022midterm_us_governors.csv
drwxr-xr-x 2 root root   4096 Nov 18 12:36 __pycache__
-rw-r--r-- 1 root root 286562 Nov 18 12:41 twitter_all_follower_2244994945.csv
-rw-r--r-- 1 root root 286562 Nov 18 12:42 twitter_all_follower_20221118-124229.csv
-rw-r--r-- 1 root root 286562 Nov 18 12:43 twitter_all_follower_20221118-124356.csv
-rw-r--r-- 1 root root 286562 Nov 18 12:45 twitter_all_following_20221118-124533.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:46 twitter_following_2244994945.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:49 twitter_following_12345.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:49 twitter_following_23456.csv
-rw-r--r-- 1 root root 260217 Nov 18 12:50 twitter_all_following_20221118-125029.csv
-rw-r--r-- 1 root root 133868 Nov 18 13:31 twitter_follower_2244994945.csv
-rw-r--r-- 1 root root 133868 Nov 18 13:36 twitter_follower_12345.csv
-rw-r--r-- 1 root root 133868 Nov 18 13:36 twitter_follower_23456.csv
-rw-r--r-- 1 root root 133868 Nov 18 13:38 twitter_all_follower_20221118-133836.csv
-rw-r--r-- 1 root root 133868 Nov 18 13:39 twitter_all_follower_20221118-133912.csv
drwxr-xr-x 1 root root   4096 Nov 18 13:57 .
-rw-r--r-- 1 root root  55530 Nov 18 13:57 twitter_expand_follower_1224621238800146432.csv
drwxr-xr-x 1 root root   4096 Nov 18 14:13 ..

**VERIFY: You must have the following two files in this directory**

1. twitter_config.py (with OAuth credentials)

2. twitter_2022midterm_us_governors.csv (Rep/Dem governors with usernames to scrape)

# Get Data

**CURRENT DIR MUST HAVE: 'twitter_2022midterm_us_governors.csv'**

In [ ]:
govs_df = pd.read_csv('twitter_2022midterm_us_governors.csv', index_col=[0])
govs_df.head()
govs_df.info()

,Republican,Democrat
State,,
Wisconsin:,https://twitter.com/michelsforgov,https://twitter.com/GovEvers
Orgeon:,https://twitter.com/ChristineDrazan,https://twitter.com/TinaKotek
Nevada:,https://twitter.com/JoeLombardoNV,https://twitter.com/GovSisolak
Arizona:,https://twitter.com/KariLake,https://twitter.com/katiehobbs
Kansas:,https://twitter.com/DerekSchmidtKS,https://twitter.com/LauraKellyKS

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, Wisconsin: to Idaho:
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Republican  35 non-null     object
 1   Democrat    35 non-null     object
dtypes: object(2)
memory usage: 840.0+ bytes

In [ ]:
# Clean imported DataFrame

# Lowercase Columns
govs_df.rename(columns={'Republican':'republican', 'Democrat':'democrat'}, inplace=True)


# Move State Index to separate colum for joining
state_orig_ls = govs_df.index.to_list()
# state_orig_ls[:5]

state_clean_ls = [x.lower().strip(':') for x in state_orig_ls]
# state_clean_ls[:5]

# Insert state col in first position
govs_df.insert(loc=0, column='state', value=state_clean_ls)
# govs_df['state'] = state_clean_ls

# Drop the State Index
govs_df.reset_index(drop=True, inplace=True)

govs_df.head()

,state,republican,democrat
0,wisconsin,https://twitter.com/michelsforgov,https://twitter.com/GovEvers
1,orgeon,https://twitter.com/ChristineDrazan,https://twitter.com/TinaKotek
2,nevada,https://twitter.com/JoeLombardoNV,https://twitter.com/GovSisolak
3,arizona,https://twitter.com/KariLake,https://twitter.com/katiehobbs
4,kansas,https://twitter.com/DerekSchmidtKS,https://twitter.com/LauraKellyKS

In [ ]:
# Split into Two (1) Dem and (2) Rep tables

govs_d_df = govs_df[['state','democrat']].copy(deep=True)
# Extract username from url
govs_d_df['screen_name'] = govs_df["democrat"].apply(lambda x: str(x).split('/')[-1])
govs_d_df.head()

govs_r_df = govs_df[['state','republican']].copy(deep=True) 
# Extract username from url
govs_r_df['screen_name'] = govs_df["republican"].apply(lambda x: str(x).split('/')[-1])
govs_r_df.head()

       state                          democrat   screen_name
0  wisconsin      https://twitter.com/GovEvers      GovEvers
1     orgeon     https://twitter.com/TinaKotek     TinaKotek
2     nevada    https://twitter.com/GovSisolak    GovSisolak
3    arizona    https://twitter.com/katiehobbs    katiehobbs
4     kansas  https://twitter.com/LauraKellyKS  LauraKellyKS

       state                           republican      screen_name
0  wisconsin    https://twitter.com/michelsforgov    michelsforgov
1     orgeon  https://twitter.com/ChristineDrazan  ChristineDrazan
2     nevada    https://twitter.com/JoeLombardoNV    JoeLombardoNV
3    arizona         https://twitter.com/KariLake         KariLake
4     kansas   https://twitter.com/DerekSchmidtKS   DerekSchmidtKS

# Get OAuth Tokens

**CURRENT DIR MUST HAVE: 'config_twitter.py'**

In [ ]:
# If you want to hardcode your secret in this Jupyter notebook

# bearer_token = 'Thisismycrazylongtwitter-bearingtokenetex' # Your API/Bearer Token

In [ ]:
import config_twitter

api_key = config_twitter.API_KEY #Your API/Consumer key 
api_secret = config_twitter.API_KEY_SECRET #Your API/Consumer Secret Key
bearer_token = config_twitter.BEARER_TOKEN # Your API/Bearer Token
access_token = config_twitter.ACCESS_TOKEN    #Your Access token key
access_token_secret = config_twitter.ACCESS_TOKEN_SECRET #Your Access token Secret key

# REST URI Endpoints (v2.0 API)

Regular 

* https://github.com/twitterdev/Twitter-API-v2-sample-code

Academic

* https://github.com/twitterdev/getting-started-with-the-twitter-api-v2-for-academic-research/blob/main/modules/3-deciding-which-endpoints-to-use.md

In [ ]:
%whos DataFrame

Variable    Type         Data/Info
----------------------------------
govs_d_df   DataFrame                 state       <...>dtforgov      heidtforgov
govs_df     DataFrame                 state       <...>twitter.com/heidtforgov
govs_r_df   DataFrame                 state       <...>alABundy       RealABundy

In [ ]:
# COPY/RENAME dataframes (removed Tweepy code that did this before)

govs_d_user_df = govs_d_df.copy()
govs_r_user_df = govs_r_df.copy()

In [ ]:
govs_d_user_df.head()
govs_d_user_df.info()

       state                          democrat   screen_name
0  wisconsin      https://twitter.com/GovEvers      GovEvers
1     orgeon     https://twitter.com/TinaKotek     TinaKotek
2     nevada    https://twitter.com/GovSisolak    GovSisolak
3    arizona    https://twitter.com/katiehobbs    katiehobbs
4     kansas  https://twitter.com/LauraKellyKS  LauraKellyKS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        35 non-null     object
 1   democrat     35 non-null     object
 2   screen_name  35 non-null     object
dtypes: object(3)
memory usage: 968.0+ bytes

## Common Functions

In [ ]:
def bearer_oauth(r):
    """
    Method required by bearer token authentication.
    """

    r.headers["Authorization"] = f"Bearer {bearer_token}"
    r.headers["User-Agent"] = "v2UserLookupPython"
    return r

In [ ]:
def connect_to_endpoint_wo_params(url):
    response = requests.request("GET", url, auth=bearer_oauth,)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

In [ ]:
def connect_to_endpoint_with_params(url, tweet_fields):
    response = requests.request(
        "GET", url, auth=bearer_oauth, params=tweet_fields)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

In [ ]:
def get_followers(user_id):
    url = "https://api.twitter.com/2/users/{}/following".format(user_id)
    params = {"user.fields": "created_at"}
    json_response = connect_to_endpoint_with_params(url, params)
    return json_response
    
# Test
user_id = 234896532
json_response = get_followers(user_id)
print(json.dumps(json_response, indent=4, sort_keys=True))

my_followers_df = pd.DataFrame(json_response['data'])
my_followers_df.head()
my_followers_df.info()

200
{
    "data": [
        {
            "created_at": "2021-05-04T19:31:07.000Z",
            "id": "1389663738945495040",
            "name": "Dr. Jill Underly, WI State Superintendent",
            "username": "DrJillUnderly"
        },
        {
            "created_at": "2021-01-06T17:02:07.000Z",
            "id": "1346864195304792065",
            "name": "Senator Brad Pfaff",
            "username": "SenBradPfaff"
        },
        {
            "created_at": "2009-05-27T19:35:11.000Z",
            "id": "42953875",
            "name": "Western Tech College",
            "username": "WesternTC"
        },
        {
            "created_at": "2008-07-21T18:48:42.000Z",
            "id": "15518969",
            "name": "Ducks Unlimited",
            "username": "DucksUnlimited"
        },
        {
            "created_at": "2018-05-01T14:15:25.000Z",
            "id": "991320189634478080",
            "name": "Forward Madison FC",
            "username": "ForwardMSNFC"
        },
        {
            "created_at": "2009-06-26T04:07:40.000Z",
            "id": "50915521",
            "name": "Madison College",
            "username": "MadisonCollege"
        },
        {
            "created_at": "2010-03-08T21:53:38.000Z",
            "id": "121237537",
            "name": "Kids Forward",
            "username": "KidsForwardWI"
        },
        {
            "created_at": "2021-02-24T20:34:50.000Z",
            "id": "1364675125556219905",
            "name": "People's Maps Commission",
            "username": "WIPeoplesMaps"
        },
        {
            "created_at": "2021-01-13T00:37:08.000Z",
            "id": "1349149096909668363",
            "name": "President Biden",
            "username": "POTUS"
        },
        {
            "created_at": "2020-04-24T15:01:51.000Z",
            "id": "1253700598815309830",
            "name": "Sen. Janet Bewley",
            "username": "SenBewley"
        },
        {
            "created_at": "2015-06-11T18:58:00.000Z",
            "id": "3319489378",
            "name": "WEDCNews",
            "username": "WEDCNews"
        },
        {
            "created_at": "2011-08-18T15:29:14.000Z",
            "id": "357566449",
            "name": "Women Veterans of WI",
            "username": "WisVetsWomen"
        },
        {
            "created_at": "2019-01-09T19:22:09.000Z",
            "id": "1083081511958732806",
            "name": "Shelia Stubbs",
            "username": "RepStubbs"
        },
        {
            "created_at": "2009-05-07T17:09:25.000Z",
            "id": "38470841",
            "name": "Jon Erpenbach",
            "username": "JonErpenbach"
        },
        {
            "created_at": "2017-11-09T15:29:33.000Z",
            "id": "928645742780190722",
            "name": "Gary Hebl",
            "username": "RepHebl"
        },
        {
            "created_at": "2019-01-23T21:22:50.000Z",
            "id": "1088185309702119424",
            "name": "Representative Robyn Vining",
            "username": "RepRobynVining"
        },
        {
            "created_at": "2018-04-16T17:45:01.000Z",
            "id": "985937117305065473",
            "name": "Representative Greta Neubauer",
            "username": "RepGreta"
        },
        {
            "created_at": "2019-01-16T20:19:16.000Z",
            "id": "1085632599308021762",
            "name": "Rep. Jodi Emerson",
            "username": "JodiRep"
        },
        {
            "created_at": "2009-02-02T22:03:59.000Z",
            "id": "19936565",
            "name": "Wisconsin Badgers",
            "username": "UWBadgers"
        },
        {
            "created_at": "2008-08-07T14:30:21.000Z",
            "id": "15763818",
            "name": "UW\u2013Madison",
            "username": "UWMadison"
        },
        {
            "created_at": "2019-01-03T16:38:45.000Z",
            "id": "1080866064022556672",
            "name": "Treasurer Sarah Godlewski",
            "username": "WITreasurer"
        },
        {
            "created_at": "2008-08-19T03:36:35.000Z",
            "id": "15900167",
            "name": "Milwaukee Bucks",
            "username": "Bucks"
        },
        {
            "created_at": "2016-08-11T19:24:58.000Z",
            "id": "763818508740354048",
            "name": "Travel WI News",
            "username": "WIDeptTourism"
        },
        {
            "created_at": "2016-08-19T15:59:22.000Z",
            "id": "766665871804825600",
            "name": "Wisconsin DCF",
            "username": "WisDCF"
        },
        {
            "created_at": "2007-04-09T11:03:31.000Z",
            "id": "3888351",
            "name": "FOX6 News",
            "username": "fox6now"
        },
        {
            "created_at": "2008-10-11T20:01:09.000Z",
            "id": "16699451",
            "name": "News 3 Now / Channel 3000",
            "username": "WISCTV_News3"
        },
        {
            "created_at": "2009-04-22T20:34:08.000Z",
            "id": "34388463",
            "name": "Channel 3000",
            "username": "channel_3000"
        },
        {
            "created_at": "2009-01-07T12:57:33.000Z",
            "id": "18720099",
            "name": "TMJ4 News",
            "username": "tmj4"
        },
        {
            "created_at": "2008-09-25T19:19:06.000Z",
            "id": "16456004",
            "name": "NBC15 News",
            "username": "nbc15_madison"
        },
        {
            "created_at": "2009-04-03T19:40:24.000Z",
            "id": "28635395",
            "name": "CBS 58 News",
            "username": "CBS58"
        },
        {
            "created_at": "2008-12-29T19:02:29.000Z",
            "id": "18456335",
            "name": "WKOW 27 News",
            "username": "WKOW"
        },
        {
            "created_at": "2009-02-06T17:11:53.000Z",
            "id": "20252482",
            "name": "WISN 12 NEWS",
            "username": "WISN12News"
        },
        {
            "created_at": "2009-03-15T05:13:12.000Z",
            "id": "24490706",
            "name": "WLUK-TV FOX 11",
            "username": "fox11news"
        },
        {
            "created_at": "2009-04-17T02:12:22.000Z",
            "id": "32256522",
            "name": "NBC 26 News",
            "username": "NBC26"
        },
        {
            "created_at": "2008-07-03T20:34:21.000Z",
            "id": "15312292",
            "name": "WFRV Local 5",
            "username": "WFRVLocal5"
        },
        {
            "created_at": "2009-03-19T19:57:54.000Z",
            "id": "25371684",
            "name": "WBAY-TV 2",
            "username": "WBAY"
        },
        {
            "created_at": "2009-10-21T19:24:37.000Z",
            "id": "84141253",
            "name": "WKBT News 8",
            "username": "news8news"
        },
        {
            "created_at": "2009-01-09T20:11:31.000Z",
            "id": "18813355",
            "name": "News 9 WAOW",
            "username": "WAOW"
        },
        {
            "created_at": "2008-12-01T02:37:11.000Z",
            "id": "17769274",
            "name": "WXOW News 19",
            "username": "WXOW"
        },
        {
            "created_at": "2008-09-25T21:41:20.000Z",
            "id": "16458470",
            "name": "WSAW",
            "username": "WSAW"
        },
        {
            "created_at": "2008-09-26T20:09:52.000Z",
            "id": "16473779",
            "name": "WQOW News 18",
            "username": "WQOW"
        },
        {
            "created_at": "2009-03-16T21:46:53.000Z",
            "id": "24776950",
            "name": "WEAU 13 News",
            "username": "WEAU13News"
        },
        {
            "created_at": "2010-12-03T21:29:14.000Z",
            "id": "222591341",
            "name": "BarabooNewsRepublic",
            "username": "News_Republic"
        },
        {
            "created_at": "2009-02-13T19:08:40.000Z",
            "id": "20796192",
            "name": "La Crosse Tribune",
            "username": "LaCrosseTribune"
        },
        {
            "created_at": "2009-02-26T17:22:09.000Z",
            "id": "22034448",
            "name": "Leader-Telegram",
            "username": "LeaderTelegram"
        },
        {
            "created_at": "2009-02-19T16:10:13.000Z",
            "id": "21311422",
            "name": "Chippewa Herald",
            "username": "ChippewaHerald"
        },
        {
            "created_at": "2012-04-06T19:25:02.000Z",
            "id": "547131156",
            "name": "PortageDailyRegister",
            "username": "PDRnews"
        },
        {
            "created_at": "2011-05-02T18:46:32.000Z",
            "id": "291862073",
            "name": "Beaver Dam Daily Citizen",
            "username": "BDCitizen"
        },
        {
            "created_at": "2009-09-22T21:20:39.000Z",
            "id": "76453806",
            "name": "Fond du Lac Reporter",
            "username": "fdlreporter"
        },
        {
            "created_at": "2009-03-04T05:02:02.000Z",
            "id": "22736351",
            "name": "Manitowoc Herald Times Reporter",
            "username": "htrnews"
        },
        {
            "created_at": "2008-04-25T12:52:23.000Z",
            "id": "14525878",
            "name": "Wisconsin Rapids Daily Tribune",
            "username": "wrtribune"
        },
        {
            "created_at": "2009-04-03T18:29:28.000Z",
            "id": "28623166",
            "name": "Marshfield News-Herald",
            "username": "mnherald"
        },
        {
            "created_at": "2008-07-11T01:22:56.000Z",
            "id": "15385717",
            "name": "Oshkosh Northwestern",
            "username": "onwnews"
        },
        {
            "created_at": "2008-12-24T21:43:15.000Z",
            "id": "18365574",
            "name": "Stevens Point Journal",
            "username": "StevensPointJrl"
        },
        {
            "created_at": "2008-10-15T23:10:54.000Z",
            "id": "16796483",
            "name": "The Post-Crescent",
            "username": "PostCrescent"
        },
        {
            "created_at": "2009-02-04T20:58:34.000Z",
            "id": "20092721",
            "name": "GazetteXtra",
            "username": "gazettextra"
        },
        {
            "created_at": "2009-01-16T15:53:39.000Z",
            "id": "19072146",
            "name": "The Sheboygan Press",
            "username": "SheboyganPress"
        },
        {
            "created_at": "2009-01-07T17:51:40.000Z",
            "id": "18730191",
            "name": "Green Bay Press-Gazette",
            "username": "gbpressgazette"
        },
        {
            "created_at": "2008-11-17T15:32:43.000Z",
            "id": "17443274",
            "name": "Wausau Daily Herald",
            "username": "wausauherald"
        },
        {
            "created_at": "2008-08-06T17:28:34.000Z",
            "id": "15752446",
            "name": "Wisconsin State Journal",
            "username": "WiStateJournal"
        },
        {
            "created_at": "2008-10-01T13:57:04.000Z",
            "id": "16544024",
            "name": "Journal Sentinel",
            "username": "journalsentinel"
        },
        {
            "created_at": "2010-03-05T18:54:07.000Z",
            "id": "120190345",
            "name": "zac schultz",
            "username": "zschultzWPT"
        },
        {
            "created_at": "2015-03-07T19:37:31.000Z",
            "id": "3067106365",
            "name": "Gwyn Guenther",
            "username": "GwynGuenther"
        },
        {
            "created_at": "2008-12-18T16:26:31.000Z",
            "id": "18217961",
            "name": "Keegan Kyle",
            "username": "keegankyle"
        },
        {
            "created_at": "2009-04-02T14:45:13.000Z",
            "id": "28350100",
            "name": "Todd Richmond",
            "username": "trichmond1"
        },
        {
            "created_at": "2009-07-01T19:29:21.000Z",
            "id": "52824038",
            "name": "Milwaukee Brewers",
            "username": "Brewers"
        },
        {
            "created_at": "2009-04-20T16:44:38.000Z",
            "id": "33575662",
            "name": "Wisconsin State Fair",
            "username": "wistatefair"
        },
        {
            "created_at": "2014-06-02T14:55:02.000Z",
            "id": "2541645128",
            "name": "WI Women's Council",
            "username": "WIWomen"
        },
        {
            "created_at": "2009-04-02T15:37:43.000Z",
            "id": "28359028",
            "name": "Wisconsin Technical Colleges",
            "username": "WisTechColleges"
        },
        {
            "created_at": "2016-08-22T20:09:45.000Z",
            "id": "767816045390364673",
            "name": "WI Ethics Commission",
            "username": "EthicsWi"
        },
        {
            "created_at": "2016-03-03T19:08:45.000Z",
            "id": "705469983296507905",
            "name": "Wisconsin Elections",
            "username": "WI_Elections"
        },
        {
            "created_at": "2012-07-12T14:31:48.000Z",
            "id": "633859725",
            "name": "Think-Make-Happen",
            "username": "InWisconsin"
        },
        {
            "created_at": "2011-05-05T20:03:33.000Z",
            "id": "293689824",
            "name": "Wisconsin Department of Workforce Development",
            "username": "WIWorkforce"
        },
        {
            "created_at": "2010-03-03T18:36:35.000Z",
            "id": "119460746",
            "name": "Wisconsin Department of Veterans Affairs",
            "username": "WisVets"
        },
        {
            "created_at": "2010-10-20T20:10:22.000Z",
            "id": "205404196",
            "name": "WI BPDD",
            "username": "wibpdd"
        },
        {
            "created_at": "2012-05-14T18:09:01.000Z",
            "id": "580102657",
            "name": "Wisconsin Arts Board",
            "username": "WIArtsBoard"
        },
        {
            "created_at": "2013-05-03T19:24:38.000Z",
            "id": "1400542267",
            "name": "Wisconsin DOT",
            "username": "WisconsinDOT"
        },
        {
            "created_at": "2009-06-23T14:24:50.000Z",
            "id": "49988522",
            "name": "Travel Wisconsin",
            "username": "TravelWI"
        },
        {
            "created_at": "2009-05-11T14:33:59.000Z",
            "id": "39261830",
            "name": "UW System",
            "username": "UWSystem"
        },
        {
            "created_at": "2016-08-31T21:08:27.000Z",
            "id": "771092309974941696",
            "name": "Wisconsin DSPS",
            "username": "WI_DSPS"
        },
        {
            "created_at": "2013-06-26T13:53:39.000Z",
            "id": "1548278143",
            "name": "Wis Dept of Revenue",
            "username": "wi_revenue"
        },
        {
            "created_at": "2008-08-21T16:59:17.000Z",
            "id": "15933632",
            "name": "Wisconsin DNR",
            "username": "WDNR"
        },
        {
            "created_at": "2013-04-03T16:34:04.000Z",
            "id": "1324981021",
            "name": "WIHistoricalSociety",
            "username": "WisHistory"
        },
        {
            "created_at": "2014-12-19T22:10:52.000Z",
            "id": "2932667145",
            "name": "Serve Wisconsin",
            "username": "ServeWisconsin"
        },
        {
            "created_at": "2009-05-31T15:34:31.000Z",
            "id": "43703350",
            "name": "WisconsinGuard",
            "username": "WI_Guard"
        },
        {
            "created_at": "2011-10-31T16:34:34.000Z",
            "id": "402147539",
            "name": "Attorney General Josh Kaul",
            "username": "WisDOJ"
        },
        {
            "created_at": "2011-05-04T16:53:17.000Z",
            "id": "293028988",
            "name": "WIDeptHealthServices",
            "username": "DHSWI"
        },
        {
            "created_at": "2016-06-21T20:17:33.000Z",
            "id": "745349963199062018",
            "name": "Wisconsin DFI",
            "username": "WIS_DFI"
        },
        {
            "created_at": "2012-01-31T16:54:26.000Z",
            "id": "479671932",
            "name": "PSC Wisconsin",
            "username": "PSCWisconsin"
        },
        {
            "created_at": "2015-03-05T20:32:10.000Z",
            "id": "3073341743",
            "name": "WI ETF",
            "username": "WI_ETF"
        },
        {
            "created_at": "2011-12-01T16:48:14.000Z",
            "id": "425941102",
            "name": "Wisconsin DATCP",
            "username": "widatcp"
        },
        {
            "created_at": "2016-08-03T18:01:50.000Z",
            "id": "760898485885566976",
            "name": "Wisconsin OCI",
            "username": "wisconsinoci"
        },
        {
            "created_at": "2016-07-05T18:50:10.000Z",
            "id": "750401398957826049",
            "name": "Wisconsin DOA",
            "username": "WisconsinDOA"
        },
        {
            "created_at": "2011-03-05T22:44:30.000Z",
            "id": "261419133",
            "name": "Melissa Baldauff",
            "username": "mbaldauff"
        },
        {
            "created_at": "2009-11-02T15:15:12.000Z",
            "id": "86961039",
            "name": "Ho-Chunk Nation",
            "username": "HoChunkNationPR"
        },
        {
            "created_at": "2018-11-19T19:37:18.000Z",
            "id": "1064603540956565504",
            "name": "Governor Tim Walz",
            "username": "GovTimWalz"
        },
        {
            "created_at": "2011-02-10T19:31:56.000Z",
            "id": "250273767",
            "name": "WI Farm Bureau",
            "username": "WIFarmBureau"
        },
        {
            "created_at": "2009-05-19T19:31:17.000Z",
            "id": "41189107",
            "name": "Rebecca Kleefisch",
            "username": "RebeccaforReal"
        },
        {
            "created_at": "2012-06-20T19:41:30.000Z",
            "id": "613700060",
            "name": "Maggie Gau",
            "username": "MaggieGau"
        },
        {
            "created_at": "2018-12-20T21:31:10.000Z",
            "id": "1075866219465637888",
            "name": "Lt. Governor Mandela Barnes",
            "username": "LGMandelaBarnes"
        }
    ],
    "meta": {
        "next_token": "HSTR7SBVS1U1CZZZ",
        "result_count": 100
    }
}

,id,name,username,created_at
0,1389663738945495040,"Dr. Jill Underly, WI State Superintendent",DrJillUnderly,2021-05-04T19:31:07.000Z
1,1346864195304792065,Senator Brad Pfaff,SenBradPfaff,2021-01-06T17:02:07.000Z
2,42953875,Western Tech College,WesternTC,2009-05-27T19:35:11.000Z
3,15518969,Ducks Unlimited,DucksUnlimited,2008-07-21T18:48:42.000Z
4,991320189634478080,Forward Madison FC,ForwardMSNFC,2018-05-01T14:15:25.000Z

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    object
 1   name        100 non-null    object
 2   username    100 non-null    object
 3   created_at  100 non-null    object
dtypes: object(4)
memory usage: 3.2+ KB

In [ ]:
def get_user_by_username(username, param_str):

    url = f'https://api.twitter.com/2/users/by/username/{username}?user.fields={param_str}'
    # url = f"https://api.twitter.com/2/users/by?user.fields={params}"
    params = {"user.fields": param_str}
    json_response = connect_to_endpoint_with_params(url, params)
    return json_response
    
# Test

username = 'KariLake'
params = 'created_at,description' # ,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld'

user_id = 234896532
json_response = get_user_by_username(username, params)
print(json.dumps(json_response, indent=4, sort_keys=True))

400

Exception: ignored

In [ ]:
def get_user_by_username(username, param_str):

    url = f'https://api.twitter.com/2/users/by/username/{username}?user.fields={param_str}'
    # url = f"https://api.twitter.com/2/users/by?user.fields={params}"
    params = {"user.fields": param_str}
    json_response = connect_to_endpoint_wo_params(url) # , params)
    # json_response = connect_to_endpoint_with_params(url, params)
    return json_response
    
# Test

username = 'KariLake'
params = 'created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld'

# user_id = 234896532
json_response = get_user_by_username(username, params)
print(json.dumps(json_response, indent=4, sort_keys=True))

my_followers_df = pd.DataFrame(pd.json_normalize(json_response['data']))
my_followers_df.head()
my_followers_df.info()



url = 'https://api.twitter.com/2/users/by?user.fields='
url

200
{
    "data": {
        "created_at": "2013-01-12T07:47:51.000Z",
        "description": "Official Twitter Account for Trump-Endorsed Candidate for Arizona Governor. Text KARI to 70789. Find me on TRUTH Social at karilake & FB at TheKariLake.",
        "entities": {
            "url": {
                "urls": [
                    {
                        "display_url": "KariLake.com",
                        "end": 23,
                        "expanded_url": "http://KariLake.com",
                        "start": 0,
                        "url": "https://t.co/EmzgORJKeQ"
                    }
                ]
            }
        },
        "id": "1082197856",
        "location": "Iowa & Arizona",
        "name": "Kari Lake",
        "pinned_tweet_id": "1575893306487103498",
        "profile_image_url": "https://pbs.twimg.com/profile_images/1560073130822885378/55oLUgB0_normal.jpg",
        "protected": false,
        "public_metrics": {
            "followers_count": 715357,
            "following_count": 974,
            "listed_count": 1362,
            "tweet_count": 24431
        },
        "url": "https://t.co/EmzgORJKeQ",
        "username": "KariLake",
        "verified": true
    }
}

,url,name,id,pinned_tweet_id,verified,profile_image_url,description,protected,username,location,created_at,entities.url.urls,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count
0,https://t.co/EmzgORJKeQ,Kari Lake,1082197856,1575893306487103498,True,https://pbs.twimg.com/profile_images/156007313...,Official Twitter Account for Trump-Endorsed Ca...,False,KariLake,Iowa & Arizona,2013-01-12T07:47:51.000Z,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",715357,974,24431,1362

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   url                             1 non-null      object
 1   name                            1 non-null      object
 2   id                              1 non-null      object
 3   pinned_tweet_id                 1 non-null      object
 4   verified                        1 non-null      bool
 5   profile_image_url               1 non-null      object
 6   description                     1 non-null      object
 7   protected                       1 non-null      bool
 8   username                        1 non-null      object
 9   location                        1 non-null      object
 10  created_at                      1 non-null      object
 11  entities.url.urls               1 non-null      object
 12  public_metrics.followers_count  1 non-null      int64
 13  public_metrics.following_count  1 non-null      int64
 14  public_metrics.tweet_count      1 non-null      int64
 15  public_metrics.listed_count     1 non-null      int64
dtypes: bool(2), int64(4), object(10)
memory usage: 242.0+ bytes

'https://api.twitter.com/2/users/by?user.fields='

## Get User Info

In [ ]:
# Define DataFrame columns for all the User data elements we want to collect

govs_d_user_df = pd.DataFrame(columns=['screen_name',
                                    'id',
                                    'name',
                                    'location',
                                    'description',
                                    'url',
                                    'created_at',
                                    'verified',
                                    'protected',
                                    # 'followers',
                                    'followers_count',
                                    # 'followers_id',
                                    # 'following',
                                    'follow_request_sent',
                                    # 'follow',
                                    # 'friends',
                                    'friends_count',
                                    'favorites_count',
                                    'listed_count',
                                    # 'status',
                                    # 'statuses_count',
                                    ])

govs_r_user_df = pd.DataFrame(columns=['screen_name',
                                    'id',
                                    'name',
                                    'location',
                                    'description',
                                    'url',
                                    'created_at',
                                    'verified',
                                    'protected',
                                    # 'followers',
                                    'followers_count',
                                    # 'followers_id',
                                    # 'following',
                                    'follow_request_sent',
                                    # 'follow',
                                    # 'friends',
                                    'friends_count',
                                    'favorites_count',
                                    'listed_count',
                                    # 'status',
                                    # 'statuses_count',
                                    ])

In [ ]:
govs_d_df.head()

       state                          democrat   screen_name
0  wisconsin      https://twitter.com/GovEvers      GovEvers
1     orgeon     https://twitter.com/TinaKotek     TinaKotek
2     nevada    https://twitter.com/GovSisolak    GovSisolak
3    arizona    https://twitter.com/katiehobbs    katiehobbs
4     kansas  https://twitter.com/LauraKellyKS  LauraKellyKS

In [ ]:
# Test

username = 'KariLake'

# user_id = 234896532
json_response = get_user_by_username(username, params)
print(json.dumps(json_response, indent=4, sort_keys=True))

200
{
    "data": {
        "created_at": "2013-01-12T07:47:51.000Z",
        "description": "Official Twitter Account for Trump-Endorsed Candidate for Arizona Governor. Text KARI to 70789. Find me on TRUTH Social at karilake & FB at TheKariLake.",
        "entities": {
            "url": {
                "urls": [
                    {
                        "display_url": "KariLake.com",
                        "end": 23,
                        "expanded_url": "http://KariLake.com",
                        "start": 0,
                        "url": "https://t.co/EmzgORJKeQ"
                    }
                ]
            }
        },
        "id": "1082197856",
        "location": "Iowa & Arizona",
        "name": "Kari Lake",
        "pinned_tweet_id": "1575893306487103498",
        "profile_image_url": "https://pbs.twimg.com/profile_images/1560073130822885378/55oLUgB0_normal.jpg",
        "protected": false,
        "public_metrics": {
            "followers_count": 715359,
            "following_count": 974,
            "listed_count": 1362,
            "tweet_count": 24431
        },
        "url": "https://t.co/EmzgORJKeQ",
        "username": "KariLake",
        "verified": true
    }
}

In [ ]:
# Get User data for each Dem Governor

govs_d_user_df = pd.DataFrame()

params = 'created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld'

i = 0
for i,agov_username in enumerate(govs_d_df.screen_name.to_list()):
    print(f'Processing #{i}: {agov_username}')
    try:
        json_response = get_user_by_username(agov_username, params)
        # print(json.dumps(json_response, indent=4, sort_keys=True))

        my_userdata_df = pd.DataFrame(pd.json_normalize(json_response['data']))
        
        print(f'    Appending row: {my_userdata_df.head()}\n\n')
        
        if i == 0:
            govs_d_user_df = my_userdata_df.copy(deep=True)
        else:
            govs_d_user_df = pd.concat([govs_d_user_df, my_userdata_df], ignore_index=True)                

        
    except:
        print(f'    ERROR: Could not retrieve Tweepy User Object')
    

    i += 1

Processing #0: GovEvers
200
    Appending row:                        url                                        description  \
0  https://t.co/JyH2JWfeyt  Husband to Kathy, lifelong educator, Euchre an...

          id  verified  protected                created_at  \
0  234896532      True      False  2011-01-06T21:05:10.000Z

                                   profile_image_url                 name  \
0  https://pbs.twimg.com/profile_images/136168111...  Governor Tony Evers

             location  username      pinned_tweet_id  \
0  Madison, Wisconsin  GovEvers  1590413394724913152

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                          106302                             244

   public_metrics.tweet_count  public_metrics.listed_count
0                        7970                          906


Processing #1: TinaKotek
200
    Appending row:                        url  protected                created_at location  \
0  https://t.co/U0kpZIDyUZ      False  2014-09-30T18:28:02.000Z   Oregon

   verified   username                                  profile_image_url  \
0      True  TinaKotek  https://pbs.twimg.com/profile_images/150087938...

         name          id      pinned_tweet_id  \
0  Tina Kotek  2835931010  1590555133624348672

                                         description  \
0  Progressive Democrat. Candidate for Oregon Gov...

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                           26614                             338

   public_metrics.tweet_count  public_metrics.listed_count
0                        1635                          307


Processing #2: GovSisolak
200
    Appending row:                        url                                        description  \
0  https://t.co/9iq0pinVZs  Governor of Nevada. Proud Dad and Husband. Sta...

                    id  verified  protected                created_at  \
0  1080586433088258048      True      False  2019-01-02T22:07:36.000Z

                                   profile_image_url              name  \
0  https://pbs.twimg.com/profile_images/139958353...  Governor Sisolak

      location    username      pinned_tweet_id  \
0  Nevada, USA  GovSisolak  1575878545829568513

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.hashtags  \
0  [{'start': 98, 'end': 114, 'tag': '3MillionRea...

   public_metrics.followers_count  public_metrics.following_count  \
0                          100647                             123

   public_metrics.tweet_count  public_metrics.listed_count
0                       12652                          602


Processing #3: katiehobbs
200
    Appending row:                        url                                        description  \
0  https://t.co/otdUvA8bmj  Social worker, mom, wife, Arizona’s Secretary ...

         id  verified  protected                created_at  \
0  26659619      True      False  2009-03-26T01:55:21.000Z

                                   profile_image_url         name  \
0  https://pbs.twimg.com/profile_images/159335670...  Katie Hobbs

      location    username      pinned_tweet_id  \
0  Phoenix, AZ  katiehobbs  1592343416981303296

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                          168391                            1581

   public_metrics.tweet_count  public_metrics.listed_count
0                       10029                          926


Processing #4: LauraKellyKS
200
    Appending row:                        url  protected                created_at    location  \
0  https://t.co/ErZXA4bB3F      False  2011-08-30T13:39:23.000Z  Topeka, KS

   verified      username                                  profile_image_url  \
0      True  LauraKellyKS  https://pbs.twimg.com/profile_images/154147570...

          name         id      pinned_tweet_id  \
0  Laura Kelly  364864453  1590388380399198208

                                         description  \
0  48th Governor of Kansas, Wife, Mother, Champio...

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                           55468                             555

   public_metrics.tweet_count  public_metrics.listed_count
0                        2781                          390


Processing #5: GovMLG
200
    Appending row:    verified                   id    location  \
0      True  1070083706822438912  New Mexico

                                   profile_image_url  protected username  \
0  https://pbs.twimg.com/profile_images/108086526...      False   GovMLG

                              name                created_at  \
0  Governor Michelle Lujan Grisham  2018-12-04T22:33:31.000Z

                                         description                      url  \
0  Mother, grandmother, dog owner and New Mexican...  https://t.co/37ICbzfNE0

   public_metrics.followers_count  public_metrics.following_count  \
0                           59948                             199

   public_metrics.tweet_count  public_metrics.listed_count  \
0                        6446                          618

                                   entities.url.urls
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...


Processing #6: gretchenwhitmer
200
    Appending row:                        url              name                   id  \
0  https://t.co/d8qvpoEMeu  Gretchen Whitmer  1093619068148559872

       pinned_tweet_id  verified  \
0  1590335626398007297      True

                                   profile_image_url  \
0  https://pbs.twimg.com/profile_images/150455909...

                                         description  protected  \
0  Lifelong Michigander. Proud mom. Governor of M...      False

          username          location                created_at  \
0  gretchenwhitmer  East Lansing, MI  2019-02-07T21:14:39.000Z

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.mentions  \
0  [{'start': 147, 'end': 158, 'username': 'GovWh...

   public_metrics.followers_count  public_metrics.following_count  \
0                          212564                             150

   public_metrics.tweet_count  public_metrics.listed_count
0                        1307                          668


Processing #7: GovJanetMills
200
    Appending row:                        url  protected                created_at     location  \
0  https://t.co/8XzZHZbNgP      False  2019-01-11T18:38:34.000Z  Augusta, ME

   verified       username                                  profile_image_url  \
0      True  GovJanetMills  https://pbs.twimg.com/profile_images/118419119...

                   name                   id  \
0  Governor Janet Mills  1083795319027089408

                                         description  \
0  The official tweets of Maine’s 75th Governor, ...

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                           24137                             122

   public_metrics.tweet_count  public_metrics.listed_count
0                         997                          415


Processing #8: staceyabrams
200
    Appending row:                        url           name         id      pinned_tweet_id  \
0  https://t.co/KB1rUwIaan  Stacey Abrams  216065430  1590098080258740224

   verified                                  profile_image_url  \
0      True  https://pbs.twimg.com/profile_images/150339247...

                                         description  protected      username  \
0  Bestselling Author: Stacey’s Remarkable Books ...      False  staceyabrams

  location                created_at  \
0  Georgia  2010-11-15T18:12:10.000Z

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                         2917035                            1925

   public_metrics.tweet_count  public_metrics.listed_count
0                       15387                         8807


Processing #9: GovTimWalz
200
    Appending row:                        url                                        description  \
0  https://t.co/SMHYS0wXOJ  Dad, husband, teacher, coach, veteran. Governo...

                    id  verified  protected                created_at  \
0  1064603540956565504      True      False  2018-11-19T19:37:18.000Z

                                   profile_image_url               name  \
0  https://pbs.twimg.com/profile_images/139300600...  Governor Tim Walz

         location    username      pinned_tweet_id  \
0  Minnesota, USA  GovTimWalz  1590431641587286016

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.hashtags  \
0  [{'start': 99, 'end': 112, 'tag': 'OneMinnesot...

   public_metrics.followers_count  public_metrics.following_count  \
0                          206235                             959

   public_metrics.tweet_count  public_metrics.listed_count
0                        4559                         1057


Processing #10: JoshShapiroPA
200
    Appending row:    protected       username  \
0      False  JoshShapiroPA

                                         description        id  \
0  Attorney General. Dad to 4 kids. Married to my...  24209167

                                   profile_image_url           location  \
0  https://pbs.twimg.com/profile_images/151576809...  Pennsylvania, USA

   verified          name                      url                created_at  \
0      True  Josh Shapiro  https://t.co/fvOlvUyZg6  2009-03-13T17:20:48.000Z

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                          289150                            3443

   public_metrics.tweet_count  public_metrics.listed_count
0                       21095                         1342


Processing #11: joy4ok
200
    Appending row:   username       location                created_at          id  \
0   joy4ok  Oklahoma, USA  2014-02-12T20:53:52.000Z  2340920154

                                   profile_image_url  \
0  https://pbs.twimg.com/profile_images/157690920...

                                         description  protected  \
0  Wife, Mom of 4, OK State Superintendent of Pub...      False

                       url  verified            name  \
0  https://t.co/ClkO5ImOHa      True  Joy Hofmeister

   public_metrics.followers_count  public_metrics.following_count  \
0                           35871                             879

   public_metrics.tweet_count  public_metrics.listed_count  \
0                       14858                          243

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                entities.description.hashtags
0  [{'start': 75, 'end': 81, 'tag': 'OKGov'}]


Processing #12: CharlieCrist
200
    Appending row:        pinned_tweet_id           name        id  protected  \
0  1590413371207487489  Charlie Crist  38970940      False

                 created_at  \
0  2009-05-10T01:42:17.000Z

                                   profile_image_url  \
0  https://pbs.twimg.com/profile_images/155167963...

                                         description                 location  \
0  Former Governor and proud @FloridaState alum. ...  St. Petersburg, Florida

       username                      url  verified  \
0  CharlieCrist  https://t.co/PISeHGtiv6      True

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.mentions  \
0  [{'start': 26, 'end': 39, 'username': 'Florida...

   public_metrics.followers_count  public_metrics.following_count  \
0                          254876                             670

   public_metrics.tweet_count  public_metrics.listed_count
0                        8802                         1583


Processing #13: GovKathyHochul
200
    Appending row:    verified  protected                      url                   name  \
0      True      False  https://t.co/gpxNZAJTaH  Governor Kathy Hochul

         username                                  profile_image_url  \
0  GovKathyHochul  https://pbs.twimg.com/profile_images/143001663...

                 created_at  \
0  2015-01-13T21:03:25.000Z

                                         description          id  \
0  Official Twitter account for the 57th Governor...  2977083957

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                           entities.description.urls  \
0  [{'start': 91, 'end': 114, 'url': 'https://t.c...

   public_metrics.followers_count  public_metrics.following_count  \
0                          236350                             680

   public_metrics.tweet_count  public_metrics.listed_count
0                       15035                         1126


Processing #14: BetoORourke
200
    Appending row:                        url  verified     username     location           name  \
0  https://t.co/Dz2B5OUIxb      True  BetoORourke  El Paso, TX  Beto O'Rourke

  description                                  profile_image_url  protected  \
0              https://pbs.twimg.com/profile_images/117772514...      False

          id                created_at  \
0  342863309  2011-07-26T18:05:52.000Z

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                         2594571                            1645

   public_metrics.tweet_count  public_metrics.listed_count
0                       13250                         7800


Processing #15: GovNedLamont
200
    Appending row:    verified                   id                      url  \
0      True  1076293903723233280  https://t.co/pUlmAF7IcE

                                         description                 name  \
0  89th Governor of Connecticut. Find a COVID vac...  Governor Ned Lamont

                 created_at      location  protected  \
0  2018-12-22T01:50:38.000Z  Hartford, CT      False

                                   profile_image_url      username  \
0  https://pbs.twimg.com/profile_images/139292388...  GovNedLamont

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                           entities.description.urls  \
0  [{'start': 63, 'end': 86, 'url': 'https://t.co...

   public_metrics.followers_count  public_metrics.following_count  \
0                           98930                             850

   public_metrics.tweet_count  public_metrics.listed_count
0                       10369                          720


Processing #16: GovDanMcKee
200
    Appending row:                        url                                        description  \
0  https://t.co/HbFwJzwRAm  Little Rhody’s Governor. Accelerating RI’s mom...

          id  verified  protected                created_at  \
0  158238919      True      False  2010-06-22T04:14:20.000Z

                                   profile_image_url                name  \
0  https://pbs.twimg.com/profile_images/157330678...  Governor Dan McKee

         location     username  \
0  Cumberland, RI  GovDanMcKee

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

   public_metrics.followers_count  public_metrics.following_count  \
0                           16590                            1655

   public_metrics.tweet_count  public_metrics.listed_count
0                        5103                          220


Processing #17: JoeCunninghamSC
200
    Appending row:    protected         username  \
0      False  JoeCunninghamSC

                                         description                  id  \
0  Boone’s Dad. Former Congressman. Proud South C...  826589191412862976

                                   profile_image_url        location  \
0  https://pbs.twimg.com/profile_images/155192760...  Charleston, SC

       pinned_tweet_id  verified            name                created_at  \
0  1580201550252630019      True  Joe Cunningham  2017-02-01T00:33:15.000Z

   public_metrics.followers_count  public_metrics.following_count  \
0                           71103                             341

   public_metrics.tweet_count  public_metrics.listed_count
0                        5028                          438


Processing #18: PolisForCO
200
    Appending row:           name                                  profile_image_url    username  \
0  Jared Polis  https://pbs.twimg.com/profile_images/148675851...  PolisForCO

     location  verified      pinned_tweet_id  \
0  Denver, CO      True  1582450859530539010

                                         description                      url  \
0  Dad and husband. @Rockies fan. Gaymer. Colorad...  https://t.co/T7tMFvGEPB

          id                created_at  protected  \
0  600422073  2012-06-05T19:10:00.000Z      False

   public_metrics.followers_count  public_metrics.following_count  \
0                           26184                             792

   public_metrics.tweet_count  public_metrics.listed_count  \
0                        2886                          236

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.mentions
0  [{'start': 17, 'end': 25, 'username': 'Rockies'}]


Processing #19: JBPritzker
200
    Appending row:                        url  protected                created_at     location  \
0  https://t.co/LNz3RAurlz      False  2009-06-08T12:06:44.000Z  Chicago, IL

   verified    username                                  profile_image_url  \
0      True  JBPritzker  https://pbs.twimg.com/profile_images/141719692...

          name        id      pinned_tweet_id  \
0  JB Pritzker  45550693  1590178571095773184

                                         description  \
0  Husband, Father, Entrepreneur @1871Chicago, Go...

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.mentions  \
0  [{'start': 30, 'end': 42, 'username': '1871Chi...

   public_metrics.followers_count  public_metrics.following_count  \
0                          134654                            1877

   public_metrics.tweet_count  public_metrics.listed_count
0                        9426                         1082


Processing #20: Blood4G
200
    ERROR: Could not retrieve Tweepy User Object
Processing #21: Gara_4_Governor
200
    Appending row:        name                                  profile_image_url  \
0  Les Gara  https://pbs.twimg.com/profile_images/148334197...

          username       location  verified  \
0  Gara_4_Governor  Anchorage, AK      True

                                         description                      url  \

In [ ]:
govs_d_user_df.head()

,url,description,id,verified,protected,created_at,profile_image_url,name,location,username,pinned_tweet_id,entities.url.urls,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,entities.description.hashtags,entities.description.mentions,entities.description.urls
0,https://t.co/JyH2JWfeyt,"Husband to Kathy, lifelong educator, Euchre an...",234896532,True,False,2011-01-06T21:05:10.000Z,https://pbs.twimg.com/profile_images/136168111...,Governor Tony Evers,"Madison, Wisconsin",GovEvers,1590413394724913152,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",106302,244,7970,906,NaN,NaN,NaN
1,https://t.co/U0kpZIDyUZ,Progressive Democrat. Candidate for Oregon Gov...,2835931010,True,False,2014-09-30T18:28:02.000Z,https://pbs.twimg.com/profile_images/150087938...,Tina Kotek,Oregon,TinaKotek,1590555133624348672,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",26614,338,1635,307,NaN,NaN,NaN
2,https://t.co/9iq0pinVZs,Governor of Nevada. Proud Dad and Husband. Sta...,1080586433088258048,True,False,2019-01-02T22:07:36.000Z,https://pbs.twimg.com/profile_images/139958353...,Governor Sisolak,"Nevada, USA",GovSisolak,1575878545829568513,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",100647,123,12652,602,"[{'start': 98, 'end': 114, 'tag': '3MillionRea...",NaN,NaN
3,https://t.co/otdUvA8bmj,"Social worker, mom, wife, Arizona’s Secretary ...",26659619,True,False,2009-03-26T01:55:21.000Z,https://pbs.twimg.com/profile_images/159335670...,Katie Hobbs,"Phoenix, AZ",katiehobbs,1592343416981303296,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",168391,1581,10029,926,NaN,NaN,NaN
4,https://t.co/ErZXA4bB3F,"48th Governor of Kansas, Wife, Mother, Champio...",364864453,True,False,2011-08-30T13:39:23.000Z,https://pbs.twimg.com/profile_images/154147570...,Laura Kelly,"Topeka, KS",LauraKellyKS,1590388380399198208,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...",55468,555,2781,390,NaN,NaN,NaN

In [ ]:
# Test

# Specify the usernames that you want to lookup below
# You can enter up to 100 comma-separated values.
usernames = "usernames=TwitterDev,TwitterAPI"
user_fields = "user.fields=description,created_at"
# User fields are adjustable, options include:
# created_at, description, entities, id, location, name,
# pinned_tweet_id, profile_image_url, protected,
# public_metrics, url, username, verified, and withheld
url = "https://api.twitter.com/2/users/by?{}&{}".format(usernames, user_fields)
    
json_response = connect_to_endpoint_wo_params(url)
print(json.dumps(json_response, indent=4, sort_keys=True))

200
{
    "data": [
        {
            "created_at": "2013-12-14T04:35:55.000Z",
            "description": "The voice of the #TwitterDev team and your official source for updates, news, and events, related to the #TwitterAPI.",
            "id": "2244994945",
            "name": "Twitter Dev",
            "username": "TwitterDev"
        },
        {
            "created_at": "2007-05-23T06:01:13.000Z",
            "description": "Tweets about changes and service issues. Follow @TwitterDev\u00a0for more.",
            "id": "6253282",
            "name": "Twitter API",
            "username": "TwitterAPI"
        }
    ]
}

## Get Followers

Rate Limit: ? Per App/? Per User (within each 15min window)

(see https://developer.twitter.com/en/docs/twitter-api/rate-limits)

In [ ]:
%whos dict

Variable        Type    Data/Info
---------------------------------
json_response   dict    n=1

In [ ]:
# Test
user_id = 2244994945

url = "https://api.twitter.com/2/users/{}/followers".format(user_id)
params = {"user.fields": "created_at"}
json_response = connect_to_endpoint_with_params(url, params)

followers_df = pd.json_normalize(json_response['data'])
followers_df['destination'] = user_id
followers_ct = followers_df.shape[0]
followers_df.head()
followers_df.info()

200

,created_at,username,name,id,destination
0,2021-08-05T21:10:54.000Z,alwayscreatingg,Always Creating,1423391044855640068,2244994945
1,2017-06-29T15:16:04.000Z,hamtk9i9t0u7elu,sabarloder,880444762221826048,2244994945
2,2022-11-16T09:35:16.000Z,Nithiya80161237,Nithiyananthan A,1592813385099395080,2244994945
3,2017-07-07T13:10:39.000Z,jamesjdougherty,James Dougherty,883312305588535297,2244994945
4,2022-09-01T21:21:53.000Z,dehiakhlleil717,Dehia Asaeed,1565449386175483904,2244994945

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   100 non-null    object
 1   username     100 non-null    object
 2   name         100 non-null    object
 3   id           100 non-null    object
 4   destination  100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [ ]:
def get_followers(user_id):
    url = "https://api.twitter.com/2/users/{}/followers".format(user_id)
    params = {"user.fields": "created_at"}
    json_response = connect_to_endpoint_with_params(url, params)
    
    followers_df = pd.json_normalize(json_response['data'])
    followers_ct = followers_df.shape[0]

    try:
        page_next_token = json_response['meta']['next_token']
    except:
        pass
    
    if not (page_next_token is None):
        
        while not (page_next_token is None):
            try:
                params = {"user.fields": "created_at", "pagination_token": page_next_token}
                json_response = connect_to_endpoint_with_params(url, params)
                my_followers_df = pd.json_normalize(json_response['data'])
                
                followers_df = pd.concat([followers_df, my_followers_df], ignore_index=True)
                followers_ct += len(json_response['data'])
                print(f'Current users_ct: {followers_ct}')
                
                try:
                    page_next_token = json_response['meta']['next_token']
                except:
                    pass
                      
            except:
                page_next_token = None
    
    print(f'Final users_ct: {followers_df}')
    
    return followers_df

### Run ONCE for EACH Governor

In [ ]:
# RESET user_id for each Governor and Run to END OF LOOP

gov_id = 2244994945


govs_d_followers_df = get_followers(gov_id)
govs_d_followers_df['source'] = govs_d_followers_df['id'] # Keep Original 'id' to remind all other fields are associated with Source (not Destination)
govs_d_followers_df['destination'] = gov_id
govs_d_followers_df['username'] = govs_d_followers_df['username'].astype('string')
govs_d_followers_df['username'] = govs_d_followers_df['username'].str.strip()
govs_d_followers_df['name'] = govs_d_followers_df['name'].astype('string')
govs_d_followers_df['name'] = govs_d_followers_df['name'].str.strip()
govs_d_followers_df.head()
govs_d_followers_df.info()

200
200
Current users_ct: 200
200
Current users_ct: 300
200
Current users_ct: 400
200
Current users_ct: 500
200
Current users_ct: 600
200
Current users_ct: 700
200
Current users_ct: 800
200
Current users_ct: 900
200
Current users_ct: 1000
200
Current users_ct: 1100
200
Current users_ct: 1200
200
Current users_ct: 1300
200
Current users_ct: 1400
429
Final users_ct:              username              name                   id  \
0     alwayscreatingg   Always Creating  1423391044855640068
1     hamtk9i9t0u7elu        sabarloder   880444762221826048
2     Nithiya80161237  Nithiyananthan A  1592813385099395080
3     jamesjdougherty   James Dougherty   883312305588535297
4     dehiakhlleil717      Dehia Asaeed  1565449386175483904
...               ...               ...                  ...
1395       ClimateFlo    Florian Börgel           3378671883
1396  Anamari26469532  Satoshi Nakamoto  1558252208336125957
1397   rowan_________    rowan schaefer  1297948611721007104
1398      tasneem9013     tasneem ahmed           2900089884
1399  FunnyMo00603145       FunnyMonkey  1562020337998409728

                    created_at
0     2021-08-05T21:10:54.000Z
1     2017-06-29T15:16:04.000Z
2     2022-11-16T09:35:16.000Z
3     2017-07-07T13:10:39.000Z
4     2022-09-01T21:21:53.000Z
...                        ...
1395  2015-07-16T12:28:12.000Z
1396  2022-08-13T00:41:26.000Z
1397  2020-08-24T17:27:35.000Z
1398  2014-11-15T08:11:14.000Z
1399  2022-08-23T10:14:16.000Z

[1400 rows x 4 columns]

,username,name,id,created_at,destination
0,alwayscreatingg,Always Creating,1423391044855640068,2021-08-05T21:10:54.000Z,2244994945
1,hamtk9i9t0u7elu,sabarloder,880444762221826048,2017-06-29T15:16:04.000Z,2244994945
2,Nithiya80161237,Nithiyananthan A,1592813385099395080,2022-11-16T09:35:16.000Z,2244994945
3,jamesjdougherty,James Dougherty,883312305588535297,2017-07-07T13:10:39.000Z,2244994945
4,dehiakhlleil717,Dehia Asaeed,1565449386175483904,2022-09-01T21:21:53.000Z,2244994945

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   username     1400 non-null   string
 1   name         1400 non-null   string
 2   id           1400 non-null   object
 3   created_at   1400 non-null   object
 4   destination  1400 non-null   int64
dtypes: int64(1), object(2), string(2)
memory usage: 54.8+ KB

In [ ]:
# Check not just repeating every 100

govs_d_followers_df.iloc[0:10]
govs_d_followers_df.iloc[95:105]

,username,name,id,created_at,destination,source
0,alwayscreatingg,Always Creating,1423391044855640068,2021-08-05T21:10:54.000Z,2244994945,1423391044855640068
1,hamtk9i9t0u7elu,sabarloder,880444762221826048,2017-06-29T15:16:04.000Z,2244994945,880444762221826048
2,Nithiya80161237,Nithiyananthan A,1592813385099395080,2022-11-16T09:35:16.000Z,2244994945,1592813385099395080
3,jamesjdougherty,James Dougherty,883312305588535297,2017-07-07T13:10:39.000Z,2244994945,883312305588535297
4,dehiakhlleil717,Dehia Asaeed,1565449386175483904,2022-09-01T21:21:53.000Z,2244994945,1565449386175483904
5,muhamuttaqien,Muh. Angga Muttaqien,385898085,2011-10-06T10:05:01.000Z,2244994945,385898085
6,MemoMogollan,Memo🦖,410513857,2011-11-12T06:05:49.000Z,2244994945,410513857
7,littleastr0,jonesey,158442862,2010-06-22T18:16:50.000Z,2244994945,158442862
8,stevenobx,Steve Parrish🇺🇸🍊🇺🇸,231586103,2010-12-28T23:09:48.000Z,2244994945,231586103
9,MatthewCKrueger,Matthew Krueger,396989791,2011-10-24T02:29:18.000Z,2244994945,396989791

,username,name,id,created_at,destination,source
95,georgemkhonazi8,George Mkhonazi,1552587152869007360,2022-07-28T09:30:29.000Z,2244994945,1552587152869007360
96,ToastBeb,Toast B,1593144458245074944,2022-11-17T07:30:40.000Z,2244994945,1593144458245074944
97,arittra_bag,Arittra Bag,1335611469132546053,2020-12-06T15:46:23.000Z,2244994945,1335611469132546053
98,Askareth,Askareth,402194945,2011-10-31T17:59:49.000Z,2244994945,402194945
99,OlavHjertaker,Olav Hjertaker,21333577,2009-02-19T20:07:39.000Z,2244994945,21333577
100,infj_eman,Eman 💭,2997813948,2015-01-27T04:59:43.000Z,2244994945,2997813948
101,LoriLesleyKT,Lori Lesley Martin,1483204767799287811,2022-01-17T22:29:45.000Z,2244994945,1483204767799287811
102,crowleydamion13,Damion Crowley,1578719916215222272,2022-10-08T12:13:27.000Z,2244994945,1578719916215222272
103,Malivipul61,Egoria Mfer,883220607508283392,2017-07-07T07:06:17.000Z,2244994945,883220607508283392
104,mercadodiego,Diego Mercado,156311191,2010-06-16T16:03:38.000Z,2244994945,156311191

In [ ]:
govs_d_followers_df.tail()

,username,name,id,created_at,destination,source
1395,ClimateFlo,Florian Börgel,3378671883,2015-07-16T12:28:12.000Z,2244994945,3378671883
1396,Anamari26469532,Satoshi Nakamoto,1558252208336125957,2022-08-13T00:41:26.000Z,2244994945,1558252208336125957
1397,rowan_________,rowan schaefer,1297948611721007104,2020-08-24T17:27:35.000Z,2244994945,1297948611721007104
1398,tasneem9013,tasneem ahmed,2900089884,2014-11-15T08:11:14.000Z,2244994945,2900089884
1399,FunnyMo00603145,FunnyMonkey,1562020337998409728,2022-08-23T10:14:16.000Z,2244994945,1562020337998409728

In [ ]:
# Verify

govs_d_followers_df.head()
govs_d_followers_df.info()

,username,name,id,created_at,destination,source
0,alwayscreatingg,Always Creating,1423391044855640068,2021-08-05T21:10:54.000Z,2244994945,1423391044855640068
1,hamtk9i9t0u7elu,sabarloder,880444762221826048,2017-06-29T15:16:04.000Z,2244994945,880444762221826048
2,Nithiya80161237,Nithiyananthan A,1592813385099395080,2022-11-16T09:35:16.000Z,2244994945,1592813385099395080
3,jamesjdougherty,James Dougherty,883312305588535297,2017-07-07T13:10:39.000Z,2244994945,883312305588535297
4,dehiakhlleil717,Dehia Asaeed,1565449386175483904,2022-09-01T21:21:53.000Z,2244994945,1565449386175483904

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   username     1400 non-null   string
 1   name         1400 non-null   string
 2   id           1400 non-null   object
 3   created_at   1400 non-null   object
 4   destination  1400 non-null   int64
 5   source       1400 non-null   object
dtypes: int64(1), object(3), string(2)
memory usage: 65.8+ KB

In [ ]:
# Save

filename_follower_out = f'twitter_follower_{user_id}.csv'
govs_d_followers_df.to_csv(filename_follower_out, index=False)

**END OF LOOP**

In [ ]:
!ls -al twitter_follower_*.csv

-rw-r--r-- 1 root root 133868 Nov 18 13:31 twitter_follower_2244994945.csv

In [ ]:
# If Testing: Create dummy twitter_follower_*.csv copies to test Concatenation

!cp $filename_follower_out twitter_follower_12345.csv

!cp $filename_follower_out twitter_follower_23456.csv

!ls -al twitter_following_*.csv

-rw-r--r-- 1 root root 102186 Nov 18 12:49 twitter_following_12345.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:46 twitter_following_2244994945.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:49 twitter_following_23456.csv

### FINALLY: Concatenate all Followers DataFrames and Save to ONE *.csv File

In [ ]:
datafile_csv_ls = glob.glob('twitter_follower_*.csv')

all_df = pd.DataFrame()

for i, adatafile in enumerate(datafile_csv_ls):
    print(f'Processing #{i}: {adatafile}')
    current_df = pd.read_csv(adatafile, index_col=False)
    print(f'      shape: {current_df.shape}')
    if i == 0:
        all_df = current_df.copy(deep=True)
    else:
        all_df = pd.concat([all_df, current_df], ignore_index=True)
        
print('\n\n')
all_orig_ct = all_df.shape[0]
all_df.drop_duplicates(inplace=True)
all_nodup_ct = all_df.shape[0]
all_df.head()
all_df.info()
print(f'Combined DataFrame.shape: {all_df.shape} (dropped {all_orig_ct - all_nodup_ct} duplicate rows)')

Processing #0: twitter_follower_12345.csv
      shape: (1400, 6)
Processing #1: twitter_follower_2244994945.csv
      shape: (1400, 6)
Processing #2: twitter_follower_23456.csv
      shape: (1400, 6)

,username,name,id,created_at,destination,source
0,alwayscreatingg,Always Creating,1423391044855640068,2021-08-05T21:10:54.000Z,2244994945,1423391044855640068
1,hamtk9i9t0u7elu,sabarloder,880444762221826048,2017-06-29T15:16:04.000Z,2244994945,880444762221826048
2,Nithiya80161237,Nithiyananthan A,1592813385099395080,2022-11-16T09:35:16.000Z,2244994945,1592813385099395080
3,jamesjdougherty,James Dougherty,883312305588535297,2017-07-07T13:10:39.000Z,2244994945,883312305588535297
4,dehiakhlleil717,Dehia Asaeed,1565449386175483904,2022-09-01T21:21:53.000Z,2244994945,1565449386175483904

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1400 entries, 0 to 1399
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   username     1400 non-null   object
 1   name         1400 non-null   object
 2   id           1400 non-null   int64
 3   created_at   1400 non-null   object
 4   destination  1400 non-null   int64
 5   source       1400 non-null   int64
dtypes: int64(3), object(3)
memory usage: 76.6+ KB
Combined DataFrame.shape: (1400, 6) (dropped 2800 duplicate rows)

In [ ]:
# Save Combined DataFrame

datetime_str = time.strftime("%Y%m%d-%H%M%S")

file_all_follower_str = f'twitter_all_follower_{datetime_str}.csv'

try:
  all_df.to_csv(file_all_follower_str, index=False)
  print(f'Saved to: {file_all_follower_str}')
except:
  print(f'ERROR: Cannot save to: {file_all_follower_str}')

Saved to: twitter_all_follower_20221118-133912.csv

In [ ]:
# Verify

!head -n 10 $file_all_follower_str

username,name,id,created_at,destination,source
alwayscreatingg,Always Creating,1423391044855640068,2021-08-05T21:10:54.000Z,2244994945,1423391044855640068
hamtk9i9t0u7elu,sabarloder,880444762221826048,2017-06-29T15:16:04.000Z,2244994945,880444762221826048
Nithiya80161237,Nithiyananthan A,1592813385099395080,2022-11-16T09:35:16.000Z,2244994945,1592813385099395080
jamesjdougherty,James Dougherty,883312305588535297,2017-07-07T13:10:39.000Z,2244994945,883312305588535297
dehiakhlleil717,Dehia Asaeed,1565449386175483904,2022-09-01T21:21:53.000Z,2244994945,1565449386175483904
muhamuttaqien,Muh. Angga Muttaqien,385898085,2011-10-06T10:05:01.000Z,2244994945,385898085
MemoMogollan,Memo🦖,410513857,2011-11-12T06:05:49.000Z,2244994945,410513857
littleastr0,jonesey,158442862,2010-06-22T18:16:50.000Z,2244994945,158442862
stevenobx,Steve Parrish🇺🇸🍊🇺🇸,231586103,2010-12-28T23:09:48.000Z,2244994945,231586103

### Expand ALL Followers

In [ ]:
%whos DataFrame

Variable                  Type         Data/Info
------------------------------------------------
all_df                    DataFrame                 username    <...>\n[1400 rows x 6 columns]
current_df                DataFrame                 username    <...>\n[1400 rows x 6 columns]
followers_df              DataFrame                      created<...>n\n[100 rows x 5 columns]
govs_d_df                 DataFrame                 state       <...>dtforgov      heidtforgov
govs_d_followers_df       DataFrame                 username    <...>\n[1400 rows x 6 columns]
govs_d_following_df       DataFrame              source         <...>\n[1400 rows x 6 columns]
govs_d_user_df            DataFrame                            u<...>                    NaN
govs_df                   DataFrame                 state       <...>twitter.com/heidtforgov
govs_r_df                 DataFrame                 state       <...>alABundy       RealABundy
govs_r_user_df            DataFrame    Empty DataFrame\nColumns:<...> listed_count]\nIndex: []
my_followers_df           DataFrame                           ur<...>                   1362
my_userdata_df            DataFrame                          nam<...>url': 'https://t.co/...
twitter_all_follower_df   DataFrame                 username    <...>\n[4200 rows x 4 columns]

In [ ]:
# !ls twitter_all_follower_*.csv

!ls -al $file_all_follower_str

-rw-r--r-- 1 root root 133868 Nov 18 13:39 twitter_all_follower_20221118-133912.csv

In [ ]:
# CONFIGURE twitter_all_follower_csv to point to correct *.csv file of all merged followers

# twitter_all_follower_csv = 'twitter_all_follower_20221118-124356.csv'
twitter_all_follower_csv = file_all_follower_str

twitter_all_follower_df = pd.read_csv(twitter_all_follower_csv, index_col=False)
twitter_all_follower_df['username'] = twitter_all_follower_df['username'].astype('string')
twitter_all_follower_df['username'] = twitter_all_follower_df['username'].str.strip()
twitter_all_follower_df['name'] = twitter_all_follower_df['username'].astype('string')
twitter_all_follower_df['name'] = twitter_all_follower_df['username'].str.strip()
twitter_all_follower_df.head()
twitter_all_follower_df.info()

,username,name,id,created_at,destination,source
0,alwayscreatingg,alwayscreatingg,1423391044855640068,2021-08-05T21:10:54.000Z,2244994945,1423391044855640068
1,hamtk9i9t0u7elu,hamtk9i9t0u7elu,880444762221826048,2017-06-29T15:16:04.000Z,2244994945,880444762221826048
2,Nithiya80161237,Nithiya80161237,1592813385099395080,2022-11-16T09:35:16.000Z,2244994945,1592813385099395080
3,jamesjdougherty,jamesjdougherty,883312305588535297,2017-07-07T13:10:39.000Z,2244994945,883312305588535297
4,dehiakhlleil717,dehiakhlleil717,1565449386175483904,2022-09-01T21:21:53.000Z,2244994945,1565449386175483904

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   username     1400 non-null   string
 1   name         1400 non-null   string
 2   id           1400 non-null   int64
 3   created_at   1400 non-null   object
 4   destination  1400 non-null   int64
 5   source       1400 non-null   int64
dtypes: int64(3), object(1), string(2)
memory usage: 65.8+ KB

#### Get User Details

In [ ]:
# Iteratively get User data for each Dem Governor


twitter_api2_delay_min = 15


# Define which info to retrieve for each user
params = 'created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld'


all_user_df = pd.DataFrame()


# Create a list of all UNIQUE Follower IDs (Source)
all_follower_username_ls = list(set(twitter_all_follower_df.username))
print(f'There are #{len(all_follower_username_ls)} Followers\n\n')
print(f'  First 5: {all_follower_username_ls[:5]}\n=====================================\n\n')


i = 0
# for i, afollower_username in enumerate(all_follower_username_ls):    # Get all follower followers 
for i, afollower_username in enumerate(all_follower_username_ls[:3]):   # Test first 3 followers
  id_cur = twitter_all_follower_df[twitter_all_follower_df['username']==afollower_username]['id'].iloc[0]
  username_cur = afollower_username
  index_cur = twitter_all_follower_df[twitter_all_follower_df['username']==afollower_username]['id'].index[0]

  print(f"Processing #{i}:\n  id: {id_cur}\n  username: {username_cur}\n  index: {index_cur}")

  try:
    # TODO: Add pagination beyond 1500 
    json_response = get_user_by_username(afollower_username, params)
    # print(json.dumps(json_response, indent=4, sort_keys=True))

    temp_user_df = pd.DataFrame(pd.json_normalize(json_response['data']))
    
    # print(f'    Appending row: {temp_user_df.head()}\n\n')
    
    if i == 0:
      all_user_df = temp_user_df.copy(deep=True)
    else:
      all_user_df = pd.concat([all_user_df, temp_user_df], ignore_index=True)                

    # Rename Columns
    all_user_df.rename(columns={'public_metrics.followers_count': 'followers_count', 
                                'public_metrics.following_count': 'following_count',
                                'public_metrics.tweet_count': 'tweet_count',
                                'public_metrics.listed_count': 'listed_count',
                                }, inplace=True)

    # Save
    filename_follower_out = f'twitter_expand_follower_{id_cur}.csv'
    all_user_df.to_csv(filename_follower_out, index=False)

    # Delay for Twitter API v2 limit of 1500 requests/15min period (+15 sec buffer)
    delay_sec = twitter_api2_delay_min*60 + 15
    print(f'  SLEEPING: {twitter_api2_delay_min} minutes (Twitter API v2 limit)')
    time.sleep(delay_sec)
      
  except:
    print(f'    ERROR: Could not retrieve Tweepy User Object')
  
"""
  i += 1

  # Get all Followers of current user
  temp_followers_df = get_followers(id_cur)
  temp_followers_df['source'] = temp_followers_df['id'] # Keep Original 'id' to remind all other fields are associated with Source (not Destination)
  temp_followers_df['destination'] = id_cur
  temp_followers_df['username'] = temp_followers_df['username'].astype('string')
  temp_followers_df['username'] = temp_followers_df['username'].str.strip()
  temp_followers_df['name'] = temp_followers_df['name'].astype('string')
  temp_followers_df['name'] = temp_followers_df['name'].str.strip()
  temp_followers_df.head()
  temp_followers_df.info()

  # Save
  filename_follower_out = f'twitter_expand_follower_{id_cur}.csv'
  temp_followers_df.to_csv(filename_follower_out, index=False)

  # Delay for Twitter API v2 limit of 1500 requests/15min period (+15 sec buffer)
  delay_sec = twitter_api2_delay_min*60 + 15
  print(f'  SLEEPING: {twitter_api2_delay_min} minutes (Twitter API v2 limit)')
  time.sleep(delay_sec)
"""

There are #1400 Followers


  First 5: ['Abdelra33210362', 'alexanderubaldo', 'levivoelz', 'RealzSyahril', 'jossromar36']
=====================================


Processing #0:
  id: 1098521194305933312
  username: Abdelra33210362
  index: 438
200
    Appending row:           username     name  verified                   id description  \
0  Abdelra33210362  HIM2020     False  1098521194305933312

   protected                created_at  \
0       True  2019-02-21T09:53:57.000Z

                                   profile_image_url  \
0  https://abs.twimg.com/sticky/default_profile_i...

   public_metrics.followers_count  public_metrics.following_count  \
0                               0                             307

   public_metrics.tweet_count  public_metrics.listed_count
0                           8                            0


Processing #1:
  id: 256669500
  username: alexanderubaldo
  index: 956
200
    Appending row:    verified                                  profile_image_url  \
0     False  https://pbs.twimg.com/profile_images/133691715...

                       url                        name  protected  \
0  https://t.co/FHUe9SAB9O  Alexander Ubaldo Gutiérrez      False

          username         id      pinned_tweet_id  \
0  alexanderubaldo  256669500  1582908039597674496

                                         description  \
0  🇵🇦 Panameño 🚈 Especialista en Transporte y Mov...

                 created_at     location  public_metrics.followers_count  \
0  2011-02-23T20:48:54.000Z  Panama City                             624

   public_metrics.following_count  public_metrics.tweet_count  \
0                            2223                       12631

   public_metrics.listed_count  \
0                            2

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.hashtags
0  [{'start': 78, 'end': 87, 'tag': 'Política'}, ...


Processing #2:
  id: 1599001218
  username: levivoelz
  index: 1241
200
    Appending row:            id  name                                  profile_image_url  \
0  1599001218  levi  https://pbs.twimg.com/profile_images/124231434...

   verified           location  \
0     False  Sonoma County, CA

                                         description                      url  \
0  I make tools for creatives like @derivvapp and...  https://t.co/gZNOOvzEQM

       pinned_tweet_id   username                created_at  protected  \
0  1525606679601041408  levivoelz  2013-07-16T18:43:02.000Z      False

                                   entities.url.urls  \
0  [{'start': 0, 'end': 23, 'url': 'https://t.co/...

                       entities.description.mentions  \
0  [{'start': 32, 'end': 42, 'username': 'derivva...

   public_metrics.followers_count  public_metrics.following_count  \
0                              56                             358

   public_metrics.tweet_count  public_metrics.listed_count
0                         708                            0

"\n  i += 1\n\n  # Get all Followers of current user\n  temp_followers_df = get_followers(id_cur)\n  temp_followers_df['source'] = temp_followers_df['id'] # Keep Original 'id' to remind all other fields are associated with Source (not Destination)\n  temp_followers_df['destination'] = id_cur\n  temp_followers_df['username'] = temp_followers_df['username'].astype('string')\n  temp_followers_df['username'] = temp_followers_df['username'].str.strip()\n  temp_followers_df['name'] = temp_followers_df['name'].astype('string')\n  temp_followers_df['name'] = temp_followers_df['name'].str.strip()\n  temp_followers_df.head()\n  temp_followers_df.info()\n\n  # Save\n  filename_follower_out = f'twitter_expand_follower_{id_cur}.csv'\n  temp_followers_df.to_csv(filename_follower_out, index=False)\n\n  # Delay for Twitter API v2 limit of 1500 requests/15min period (+15 sec buffer)\n  delay_sec = twitter_api2_delay_min*60 + 15\n  print(f'  SLEEPING: {twitter_api2_delay_min} minutes (Twitter API v2 limit)')\n  time.sleep(delay_sec)\n"

In [ ]:
# public_metrics.followers_count	public_metrics.following_count	public_metrics.tweet_count	public_metrics.listed_count

all_user_df.rename(columns={'public_metrics.followers_count': 'followers_count', 
                            'public_metrics.following_count': 'following_count',
                            'public_metrics.tweet_count': 'tweet_count',
                            'public_metrics.listed_count': 'listed_count',
                            }, inplace=True)

In [ ]:
all_user_df.head()

,username,name,verified,id,description,protected,created_at,profile_image_url,public_metrics.followers_count,public_metrics.following_count,public_metrics.tweet_count,public_metrics.listed_count,url,pinned_tweet_id,location,entities.url.urls,entities.description.hashtags,entities.description.mentions
0,Abdelra33210362,HIM2020,False,1098521194305933312,,True,2019-02-21T09:53:57.000Z,https://abs.twimg.com/sticky/default_profile_i...,0,307,8,0,NaN,NaN,NaN,NaN,NaN,NaN
1,alexanderubaldo,Alexander Ubaldo Gutiérrez,False,256669500,🇵🇦 Panameño 🚈 Especialista en Transporte y Mov...,False,2011-02-23T20:48:54.000Z,https://pbs.twimg.com/profile_images/133691715...,624,2223,12631,2,https://t.co/FHUe9SAB9O,1582908039597674496,Panama City,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...","[{'start': 78, 'end': 87, 'tag': 'Política'}, ...",NaN
2,levivoelz,levi,False,1599001218,I make tools for creatives like @derivvapp and...,False,2013-07-16T18:43:02.000Z,https://pbs.twimg.com/profile_images/124231434...,56,358,708,0,https://t.co/gZNOOvzEQM,1525606679601041408,"Sonoma County, CA","[{'start': 0, 'end': 23, 'url': 'https://t.co/...",NaN,"[{'start': 32, 'end': 42, 'username': 'derivva..."

#### Get Followers

**WARNING: This can be a VERY LONG running process**

In [ ]:
# Iteratively expand all followers by getting who THEY follow and are being followed by

twitter_api2_delay_min = 15

# Create a list of all UNIQUE Follower IDs (Source)
all_follower_ls = list(set(twitter_all_follower_df.source))
print(f'There are #{len(all_follower_ls)} Followers\n\n')
print(f'  First 5: {all_follower_ls[:5]}\n=====================================\n\n')

# for i, afollower in enumerate(all_follower_ls):    # Get all follower followers 
for i, afollower in enumerate(all_follower_ls[:3]):   # Test first 3 followers
  id_cur = afollower
  # TODO: Embed within try/except block
  username_cur = twitter_all_follower_df[twitter_all_follower_df['id']==afollower]['username'].iloc[0]
  index_cur = twitter_all_follower_df[twitter_all_follower_df['id']==afollower]['username'].index[0]

  print(f"Processing #{i}:\n  id: {id_cur}\n  username: {username_cur}\n  index: {index_cur}")

  # Get all Followers of current user
  temp_followers_df = get_followers(id_cur)
  temp_followers_df['source'] = temp_followers_df['id'] # Keep Original 'id' to remind all other fields are associated with Source (not Destination)
  temp_followers_df['destination'] = id_cur
  temp_followers_df['username'] = temp_followers_df['username'].astype('string')
  temp_followers_df['username'] = temp_followers_df['username'].str.strip()
  temp_followers_df['name'] = temp_followers_df['name'].astype('string')
  temp_followers_df['name'] = temp_followers_df['name'].str.strip()
  temp_followers_df.head()
  temp_followers_df.info()

  # Save
  filename_follower_out = f'twitter_expand_follower_{id_cur}.csv'
  temp_followers_df.to_csv(filename_follower_out, index=False)

  # Delay for Twitter API v2 limit of 1500 requests/15min period (+15 sec buffer)
  delay_sec = twitter_api2_delay_min*60 + 15
  print(f'  SLEEPING: {twitter_api2_delay_min} minutes (Twitter API v2 limit)')
  time.sleep(delay_sec)

There are #1400 Followers


  First 5: [1224621238800146432, 883312305588535297, 1365422929652154370, 1369595759897829379, 1349661595018772483]
=====================================


Processing #0:
  id: 1224621238800146432
  username: LuxInABottle
  index: 1136
200
200
Current users_ct: 200
200
Current users_ct: 300
200
Current users_ct: 319
200
Current users_ct: 338
200
Current users_ct: 357
200
Current users_ct: 376
200
Current users_ct: 395
200
Current users_ct: 414
200
Current users_ct: 433
200
Current users_ct: 452
200
Current users_ct: 471
200
Current users_ct: 490
200
Current users_ct: 509
200
Current users_ct: 528
429
Final users_ct:                       id                              name         username  \
0    1559793935589031936                     Scot Mennecke     MenneckeScot
1    1561044369247019008                      Manish Prout      ManishProut
2               97728804                       Ben Holfeld       BenHolfeld
3    1560861711434907648                  Wilburn Hubertus  HubertusWilburn
4    1425512767490977794  The Algorand Foundation Ltd ⬇️ 🌏    TheMyAlgorand
..                   ...                               ...              ...
523             30059814                  Juan Carlos Moya   Millionairedad
524  1167577324163936256                      Hallie Lydia        Halliefxr
525            365154140                         FMC (📈,📈)   FreeMrktCptlst
526           1733420089                           Kenneth      DarkrealmKR
527  1210799955851370497                          Scotty G      GhardaScott

                   created_at
0    2022-08-17T06:47:11.000Z
1    2022-08-20T17:36:01.000Z
2    2009-12-18T19:08:57.000Z
3    2022-08-20T05:30:08.000Z
4    2021-08-11T17:41:49.000Z
..                        ...
523  2009-04-09T20:27:35.000Z
524  2019-08-30T23:18:40.000Z
525  2011-08-30T23:21:29.000Z
526  2013-09-05T23:31:23.000Z
527  2019-12-28T05:49:45.000Z

[528 rows x 4 columns]

,id,name,username,created_at,source,destination
0,1559793935589031936,Scot Mennecke,MenneckeScot,2022-08-17T06:47:11.000Z,1559793935589031936,1224621238800146432
1,1561044369247019008,Manish Prout,ManishProut,2022-08-20T17:36:01.000Z,1561044369247019008,1224621238800146432
2,97728804,Ben Holfeld,BenHolfeld,2009-12-18T19:08:57.000Z,97728804,1224621238800146432
3,1560861711434907648,Wilburn Hubertus,HubertusWilburn,2022-08-20T05:30:08.000Z,1560861711434907648,1224621238800146432
4,1425512767490977794,The Algorand Foundation Ltd ⬇️ 🌏,TheMyAlgorand,2021-08-11T17:41:49.000Z,1425512767490977794,1224621238800146432

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           528 non-null    object
 1   name         528 non-null    string
 2   username     528 non-null    string
 3   created_at   528 non-null    object
 4   source       528 non-null    object
 5   destination  528 non-null    int64
dtypes: int64(1), object(3), string(2)
memory usage: 24.9+ KB
Processing #1:
  id: 883312305588535297
  username: jamesjdougherty
  index: 3
200

UnboundLocalError: ignored

## Get Following (run once for each gov)

Rate Limit: 15 Per App/15 Per User (within each 15min window)

(see https://developer.twitter.com/en/docs/twitter-api/rate-limits)

In [ ]:
def get_following(user_id):
    url = "https://api.twitter.com/2/users/{}/following".format(user_id)
    params = {"user.fields": "created_at"}
    json_response = connect_to_endpoint_with_params(url, params)
    
    following_df = pd.json_normalize(json_response['data'])
    following_ct = following_df.shape[0]

    try:
        page_next_token = json_response['meta']['next_token']
    except:
        pass
    
    if not (page_next_token is None):
        
        while not (page_next_token is None):
            try:
                params = {"user.fields": "created_at", "pagination_token": page_next_token}
                json_response = connect_to_endpoint_with_params(url, params)
                my_following_df = pd.json_normalize(json_response['data'])
                
                following_df = pd.concat([following_df, my_following_df], ignore_index=True)
                following_ct += len(json_response['data'])
                print(f'Current users_ct: {following_ct}')
                
                try:
                    page_next_token = json_response['meta']['next_token']
                except:
                    pass
                      
            except:
                page_next_token = None
    
    print(f'Final users_ct: {following_ct}')
    
    return following_df

### Run ONCE for EACH Governor

In [ ]:
# Test

user_id = 2244994945
govs_d_following_df = get_following(user_id)
govs_d_following_df.head()
govs_d_following_df.info()

200
200
Current users_ct: 200
200
Current users_ct: 300
200
Current users_ct: 400
200
Current users_ct: 500
200
Current users_ct: 600
200
Current users_ct: 700
200
Current users_ct: 800
200
Current users_ct: 900
200
Current users_ct: 1000
200
Current users_ct: 1100
200
Current users_ct: 1200
200
Current users_ct: 1300
200
Current users_ct: 1400
429
Final users_ct: 1400

,name,username,id,created_at,withheld.country_codes
0,Elon Musk,elonmusk,44196397,2009-06-02T20:12:29.000Z,NaN
1,Aba Micah,2006legend,633050374,2012-07-11T16:54:40.000Z,NaN
2,Jessica Garson,jessicagarson,15772978,2008-08-08T02:16:23.000Z,NaN
3,Bitcoin Core Project,bitcoincoreorg,4839528448,2016-01-23T19:14:25.000Z,NaN
4,blue checkmark (real),Punkaboo,25029451,2009-03-18T04:43:46.000Z,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    1400 non-null   object
 1   username                1400 non-null   object
 2   id                      1400 non-null   object
 3   created_at              1400 non-null   object
 4   withheld.country_codes  1 non-null      object
dtypes: object(5)
memory usage: 54.8+ KB

In [ ]:
# Check not just repeating every 100

govs_d_following_df.iloc[0:10]
govs_d_following_df.iloc[95:105]

,name,username,id,created_at,withheld.country_codes
0,Elon Musk,elonmusk,44196397,2009-06-02T20:12:29.000Z,NaN
1,Aba Micah,2006legend,633050374,2012-07-11T16:54:40.000Z,NaN
2,Jessica Garson,jessicagarson,15772978,2008-08-08T02:16:23.000Z,NaN
3,Bitcoin Core Project,bitcoincoreorg,4839528448,2016-01-23T19:14:25.000Z,NaN
4,blue checkmark (real),Punkaboo,25029451,2009-03-18T04:43:46.000Z,NaN
5,cora,coraF256,1009484430250053632,2018-06-20T17:13:38.000Z,NaN
6,Amir Shevat,ashevat,108209516,2010-01-25T05:56:22.000Z,NaN
7,Sheryl Klein Lavi🏴󠁧󠁢󠁳󠁣󠁴󠁿,TheSherylKlein,1062359582,2013-01-05T06:56:49.000Z,NaN
8,Liliana Aidé Monge,mongeliliana,243665363,2011-01-27T15:10:03.000Z,NaN
9,julie✨,JulieMendoza206,459860328,2012-01-10T04:01:22.000Z,NaN

,name,username,id,created_at,withheld.country_codes
95,オーウェン,DarylOwenJ,839668676,2012-09-22T12:30:57.000Z,NaN
96,Hatice Edis 📟,edisdev,618029513,2012-06-25T11:52:19.000Z,NaN
97,Ian Kirker,ikirker,1934669329,2013-10-04T15:46:40.000Z,NaN
98,Jonathan Laurin,jolaurin24,194811144,2010-09-25T01:35:35.000Z,NaN
99,Alfonso 🍀🪐,alfongj,38292395,2009-05-06T22:21:23.000Z,NaN
100,Serdar Kiliç,serdar,5177,2006-09-02T01:59:11.000Z,NaN
101,Chima,chmanw,1057825998,2013-01-03T13:52:19.000Z,NaN
102,liam,inky,13148,2006-11-20T00:04:50.000Z,NaN
103,Jonathan,jony_silva,15399427,2008-07-12T02:02:26.000Z,NaN
104,Simon,simon_jthompson,534682665,2012-03-23T18:32:49.000Z,NaN

In [ ]:
govs_d_following_df.tail()

,name,username,id,created_at,withheld.country_codes
1395,Omar.,_oememartinez,1663613648,2013-08-11T22:39:34.000Z,NaN
1396,AR,dr_turkleberry,113731124,2010-02-12T21:10:53.000Z,NaN
1397,sarathdr,sarathdr,14273442,2008-04-01T09:01:23.000Z,NaN
1398,Patxi Bocos,patxibocos,260117096,2011-03-03T06:50:40.000Z,NaN
1399,Iordanis Giannakakis,iordanis_g,95617311,2009-12-09T10:17:22.000Z,NaN

In [ ]:
# Insert user_id as 'source' in first column
#        rename following id as 'destination'

govs_d_following_df.insert(0, 'source', user_id)
govs_d_following_df.rename(columns={'id':'destination'}, inplace=True)

In [ ]:
# Verify
 
govs_d_following_df.head()
govs_d_following_df.info()

,source,name,username,destination,created_at,withheld.country_codes
0,2244994945,Elon Musk,elonmusk,44196397,2009-06-02T20:12:29.000Z,NaN
1,2244994945,Aba Micah,2006legend,633050374,2012-07-11T16:54:40.000Z,NaN
2,2244994945,Jessica Garson,jessicagarson,15772978,2008-08-08T02:16:23.000Z,NaN
3,2244994945,Bitcoin Core Project,bitcoincoreorg,4839528448,2016-01-23T19:14:25.000Z,NaN
4,2244994945,blue checkmark (real),Punkaboo,25029451,2009-03-18T04:43:46.000Z,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   source                  1400 non-null   int64
 1   name                    1400 non-null   object
 2   username                1400 non-null   object
 3   destination             1400 non-null   object
 4   created_at              1400 non-null   object
 5   withheld.country_codes  1 non-null      object
dtypes: int64(1), object(5)
memory usage: 65.8+ KB

In [ ]:
# Save

filename_out = f'twitter_following_{user_id}.csv'
govs_d_following_df.to_csv(filename_out, index=False)

In [ ]:
# Make dummy copies to test DataFile Concatenation

!cp $filename_out twitter_following_12345.csv

!cp $filename_out twitter_following_23456.csv

!ls -al twitter_following_*.csv

-rw-r--r-- 1 root root 102186 Nov 18 12:49 twitter_following_12345.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:46 twitter_following_2244994945.csv
-rw-r--r-- 1 root root 102186 Nov 18 12:49 twitter_following_23456.csv

### FINALLY: Concatenate all Following DataFrames and Save to ONE *.csv File

In [ ]:
datafile_csv_ls = glob.glob('twitter_following_*.csv')

all_df = pd.DataFrame()

for i, adatafile in enumerate(datafile_csv_ls):
    print(f'Processing #{i}: {adatafile}')
    current_df = pd.read_csv(adatafile, index_col=[0])
    print(f'      shape: {current_df.shape}')
    if i == 0:
        all_df = current_df.copy(deep=True)
    else:
        all_df = pd.concat([all_df, current_df], ignore_index=True)
        
print(f'Combined DataFrame.shape: {all_df.shape}')

Processing #0: twitter_following_2244994945.csv
      shape: (1400, 5)
Processing #1: twitter_following_23456.csv
      shape: (1400, 5)
Processing #2: twitter_following_12345.csv
      shape: (1400, 5)
Combined DataFrame.shape: (4200, 5)

In [ ]:
# Save Combined DataFrame

datetime_str = time.strftime("%Y%m%d-%H%M%S")

filename_out = f'twitter_all_following_{datetime_str}.csv'

try:
  all_df.to_csv(filename_out, index=False)
  print(f'Saved to: {filename_out}')
except:
  print(f'ERROR: Cannot save to: {filename_out}')

Saved to: twitter_all_following_20221118-125029.csv

In [ ]:
# Verify

!head -n 10 $filename_out

name,username,destination,created_at,withheld.country_codes
Elon Musk,elonmusk,44196397,2009-06-02T20:12:29.000Z,
Aba Micah,2006legend,633050374,2012-07-11T16:54:40.000Z,
Jessica Garson,jessicagarson,15772978,2008-08-08T02:16:23.000Z,
Bitcoin Core Project,bitcoincoreorg,4839528448,2016-01-23T19:14:25.000Z,
blue checkmark (real),Punkaboo,25029451,2009-03-18T04:43:46.000Z,
cora,coraF256,1009484430250053632,2018-06-20T17:13:38.000Z,
Amir Shevat,ashevat,108209516,2010-01-25T05:56:22.000Z,
Sheryl Klein Lavi🏴󠁧󠁢󠁳󠁣󠁴󠁿,TheSherylKlein,1062359582,2013-01-05T06:56:49.000Z,
Liliana Aidé Monge,mongeliliana,243665363,2011-01-27T15:10:03.000Z,

## Expand Followers

In [ ]:
%whos DataFrame

Variable              Type         Data/Info
--------------------------------------------
all_df                DataFrame                           na<...>\n[4200 rows x 5 columns]
current_df            DataFrame                             <...>\n[1400 rows x 5 columns]
followers_df          DataFrame                             <...>n\n[100 rows x 4 columns]
govs_d_df             DataFrame                 state       <...>dtforgov      heidtforgov
govs_d_followers_df   DataFrame          destination        <...>\n[1400 rows x 5 columns]
govs_d_following_df   DataFrame              source         <...>\n[1400 rows x 6 columns]
govs_d_user_df        DataFrame                            u<...>                    NaN
govs_df               DataFrame                 state       <...>twitter.com/heidtforgov
govs_r_df             DataFrame                 state       <...>alABundy       RealABundy
govs_r_user_df        DataFrame    Empty DataFrame\nColumns:<...> listed_count]\nIndex: []
my_followers_df       DataFrame                           ur<...>                   1362
my_userdata_df        DataFrame                          nam<...>url': 'https://t.co/...

In [ ]:
for i, afollower in enumerate()

## Expand Following

## Get User Timeline

In [ ]:
def get_user_timeline(id, params):
    url = "https://api.twitter.com/2/users/{}/tweets".format(id)
    # params = {"tweet.fields": "created_at"}
    json_response = connect_to_endpoint_with_params(url, params)
    return json_response


# Tweet fields are adjustable.
# Options include:
# attachments, author_id, context_annotations,
# conversation_id, created_at, entities, geo, id,
# in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
# possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
# source, text, and withheld
my_params = {"tweet.fields": "created_at"}

# Test
user_id = 2244994945

json_response = get_user_timeline(user_id, my_params)
print(json.dumps(json_response, indent=4, sort_keys=True))

my_timeline_df = pd.DataFrame(json_response['data'])
my_timeline_df.head()
my_timeline_df.info()

200
{
    "data": [
        {
            "created_at": "2022-11-02T23:15:29.000Z",
            "edit_history_tweet_ids": [
                "1587946527955329024"
            ],
            "id": "1587946527955329024",
            "text": "As always, we\u2019re just a Tweet away, so feel free to reach out with any questions. We\u2019re grateful for your partnership to #BuildWhatsNext"
        },
        {
            "created_at": "2022-11-02T23:15:29.000Z",
            "edit_history_tweet_ids": [
                "1587946526617264128"
            ],
            "id": "1587946526617264128",
            "text": "We\u2019ll still celebrate the soon-to-be-announced winners of our Chirp Developer Challenge - stay tuned for more details!"
        },
        {
            "created_at": "2022-11-02T23:15:28.000Z",
            "edit_history_tweet_ids": [
                "1587946525245816832"
            ],
            "id": "1587946525245816832",
            "text": "We\u2019re currently hard at work to make Twitter better for everyone, including developers! We\u2019ve decided to cancel the #Chirp developer conference while we build some things that we\u2019re excited to share with you soon."
        },
        {
            "created_at": "2022-11-01T19:00:00.000Z",
            "edit_history_tweet_ids": [
                "1587519847281397767"
            ],
            "id": "1587519847281397767",
            "text": "\ud83d\udca1 #TipTuesday:  Ever wondered how to get the video URL from a Tweet in Twitter API v2? \ud83d\udc40 Here\u2019s a walkthrough, using our TypeScript SDK. \ud83d\udcab\n\nhttps://t.co/tFQ4Eskq7t"
        },
        {
            "created_at": "2022-10-31T13:00:01.000Z",
            "edit_history_tweet_ids": [
                "1587066866824085505"
            ],
            "id": "1587066866824085505",
            "text": "\u270d\ufe0fFill in the blank \u2b07\ufe0f\n\nI start my morning off by _____"
        },
        {
            "created_at": "2022-10-28T16:00:03.000Z",
            "edit_history_tweet_ids": [
                "1586025008899448832"
            ],
            "id": "1586025008899448832",
            "text": "Describe your current project in 3 words! \u2b07\ufe0f"
        },
        {
            "created_at": "2022-10-27T21:21:22.000Z",
            "edit_history_tweet_ids": [
                "1585743480554487810"
            ],
            "id": "1585743480554487810",
            "text": "We just launched Direct Message endpoints to the Twitter API v2. \ud83c\udf89 You can now create/retrieve Direct Message conversations. And there\u2019s more\u2014 for the first time ever, these endpoints support group message functionality, only on v2. \ud83d\ude4c\n\nRead more \nhttps://t.co/swRIeqDp3u"
        },
        {
            "created_at": "2022-10-27T19:00:04.000Z",
            "edit_history_tweet_ids": [
                "1585707921433923585"
            ],
            "id": "1585707921433923585",
            "text": "Now testing: NFT Tweet Tiles \ud83d\ude80\n\nSome links to NFTs on @rarible, @MagicEden, @dapperlabs and @Jumptradenft will now show you a larger picture of the NFT alongside details like the title and creator. One more step in our journey to let developers impact the Tweet experience. https://t.co/AkBisciB1i"
        },
        {
            "created_at": "2022-10-27T18:00:00.000Z",
            "edit_history_tweet_ids": [
                "1585692806168944640"
            ],
            "id": "1585692806168944640",
            "text": "\u2728 Great to see investment in the Twitter developer community \u2728\n\n@ev, co-founder of Twitter &amp; founder of Medium, has invested in @Typefully \ud83c\udf89\n\nLearn more \u2b07\ufe0f\nhttps://t.co/K5ONpocOdj"
        },
        {
            "created_at": "2022-10-27T16:00:01.000Z",
            "edit_history_tweet_ids": [
                "1585662613639385090"
            ],
            "id": "1585662613639385090",
            "text": "The gaming industry is unignorable. And as home of the gaming conversation \u2013 with over 70 Tweets per second about gaming \u2013 the value of the Twitter gaming community is undeniable. \ud83d\udd79\ud83d\ude80\n\nBuild what\u2019s next for gamers across the globe \ud83d\udc47\nhttps://t.co/rD8UpjsShF"
        }
    ],
    "meta": {
        "newest_id": "1587946527955329024",
        "next_token": "7140dibdnow9c7btw423x310kvx6686fbnwxl962tml2o",
        "oldest_id": "1585662613639385090",
        "result_count": 10
    }
}

,text,edit_history_tweet_ids,created_at,id
0,"As always, we’re just a Tweet away, so feel fr...",[1587946527955329024],2022-11-02T23:15:29.000Z,1587946527955329024
1,We’ll still celebrate the soon-to-be-announced...,[1587946526617264128],2022-11-02T23:15:29.000Z,1587946526617264128
2,We’re currently hard at work to make Twitter b...,[1587946525245816832],2022-11-02T23:15:28.000Z,1587946525245816832
3,💡 #TipTuesday: Ever wondered how to get the v...,[1587519847281397767],2022-11-01T19:00:00.000Z,1587519847281397767
4,✍️Fill in the blank ⬇️\n\nI start my morning o...,[1587066866824085505],2022-10-31T13:00:01.000Z,1587066866824085505

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   text                    10 non-null     object
 1   edit_history_tweet_ids  10 non-null     object
 2   created_at              10 non-null     object
 3   id                      10 non-null     object
dtypes: object(4)
memory usage: 448.0+ bytes

## Get Liked Tweets

In [ ]:
def get_liked_tweets(id, params):
    url = "https://api.twitter.com/2/users/{}/liked_tweets".format(id)
    # params = {"tweet.fields": "created_at"}
    json_response = connect_to_endpoint_with_params(url, params)
    return json_response


# Tweet fields are adjustable.
# Options include:
# attachments, author_id, context_annotations,
# conversation_id, created_at, entities, geo, id,
# in_reply_to_user_id, lang, non_public_metrics, organic_metrics,
# possibly_sensitive, promoted_metrics, public_metrics, referenced_tweets,
# source, text, and withheld
tweet_fields = "tweet.fields=lang,author_id"
# Be sure to replace your-user-id with your own user ID or one of an authenticating user
# You can find a user ID by using the user lookup endpoint
id = "your-user-id"
# You can adjust ids to include a single Tweets.
# Or you can add to up to 100 comma-separated IDs
url = "https://api.twitter.com/2/users/{}/liked_tweets".format(id)

# Test
user_id = 2244994945

json_response = get_liked_tweets(user_id, tweet_fields)
print(json.dumps(json_response, indent=4, sort_keys=True))

my_liked_tweets_df = pd.DataFrame(json_response['data'])
my_liked_tweets_df.head()
my_liked_tweets_df.info()

200
{
    "data": [
        {
            "author_id": "1136175005060878337",
            "edit_history_tweet_ids": [
                "1581308268122877953"
            ],
            "id": "1581308268122877953",
            "lang": "en",
            "text": "@TwitterDev Tips and tricks would be cool!!"
        },
        {
            "author_id": "109628138",
            "edit_history_tweet_ids": [
                "1575158698225258500"
            ],
            "id": "1575158698225258500",
            "lang": "en",
            "text": "On a call with @TwitterDev team looking at the upcoming platform functionality \u2014 some exiting functionality in the works. \n\nAlso, I \u2764\ufe0f the approach twitter is taking to feature development. Good job, bird ppl"
        },
        {
            "author_id": "1120050519182016513",
            "edit_history_tweet_ids": [
                "1575117901647986691"
            ],
            "id": "1575117901647986691",
            "lang": "en",
            "text": "Big thanks @TwitterDev for these wonderful highlights \ud83d\udd25 ! \ud83d\udcaa\ud83e\udd16 https://t.co/U9ta99MAcZ"
        },
        {
            "author_id": "108209516",
            "edit_history_tweet_ids": [
                "1572733815965253632"
            ],
            "id": "1572733815965253632",
            "lang": "en",
            "text": "Congratulations to @triketora and the @blockpartyapp_ team for raising your $4.5M seed\ud83e\udd42\ud83d\ude80\nFrom all of us at @TwitterDev \ud83d\udc99\n\nhttps://t.co/Q9l0ca8TAp"
        },
        {
            "author_id": "1264433760",
            "edit_history_tweet_ids": [
                "1571949434010992640"
            ],
            "id": "1571949434010992640",
            "lang": "en",
            "text": "\ud83c\udf89 Thank you so much for the kind gesture, @TwitterDev!\ud83d\ude4f\ud83c\udffd\ud83c\udf89\nThis is definitely a huge surprise!\ud83e\udd17\nI can't wait for the #Chirp #Conference!\n\n\ud83d\udd17\ud83d\udc47\ud83c\udffd\nhttps://t.co/M7EJWF0Q8u\n\nCC: @Twitter @TwitterBusiness @TwitterMktg @TwitterWomen\n#Twitter #DEVCommunity #SMM #CX #SocialMedia #Digital https://t.co/MRKqoTColj https://t.co/hzoLAp2vLK"
        },
        {
            "author_id": "1223905705",
            "edit_history_tweet_ids": [
                "1570840364990484480"
            ],
            "id": "1570840364990484480",
            "lang": "en",
            "text": "Thaaaanks @TwitterDev https://t.co/XVie4C9Nqr"
        },
        {
            "author_id": "418453966",
            "edit_history_tweet_ids": [
                "1565524421229842432"
            ],
            "id": "1565524421229842432",
            "lang": "en",
            "text": "Just confirmed my registration. See you at #Chirp ! https://t.co/pvk5HUEL7u"
        },
        {
            "author_id": "831570450903859200",
            "edit_history_tweet_ids": [
                "1565000446384738306"
            ],
            "id": "1565000446384738306",
            "lang": "en",
            "text": "I submitted Aviary to this\u2026 \ud83d\udc40\n\nhttps://t.co/jBGlkp0RcF https://t.co/s96asGkR4B"
        },
        {
            "author_id": "199566737",
            "edit_history_tweet_ids": [
                "1564707662444494851"
            ],
            "id": "1564707662444494851",
            "lang": "en",
            "text": "@TwitterDev Many of our judges are Insiders, our most impactful developers in the community!\n\nThink you'd make a good Insider? Apply now!\n\nhttps://t.co/insiders"
        },
        {
            "author_id": "34814047",
            "edit_history_tweet_ids": [
                "1563216592791814144"
            ],
            "id": "1563216592791814144",
            "lang": "en",
            "text": "Just got my #Chirp acceptance email. See you in SFO this November, @TwitterDev!"
        },
        {
            "author_id": "1445475898833076224",
            "edit_history_tweet_ids": [
                "1563251745144602625"
            ],
            "id": "1563251745144602625",
            "lang": "en",
            "text": "Excited to have another reason to fly back home to San Francisco // San Jose. \ud83c\udf09\ud83d\udc3b\n\nCatch you all at #Chirp https://t.co/SfgzDngJ4f"
        },
        {
            "author_id": "16211566",
            "edit_history_tweet_ids": [
                "1562875512661233664"
            ],
            "id": "1562875512661233664",
            "lang": "en",
            "text": "Twitter is testing a new Tweet Tiles feature https://t.co/JlRcmkLA2w"
        },
        {
            "author_id": "266718403",
            "edit_history_tweet_ids": [
                "1562929143720943616"
            ],
            "id": "1562929143720943616",
            "lang": "en",
            "text": "I do love a @TweetTile  - These formats are designed to easily engage with content and make your timeline more dynamic and visual.  \n\ncc @thethumbstop https://t.co/hQYiACkyht"
        },
        {
            "author_id": "108209516",
            "edit_history_tweet_ids": [
                "1562862418514288640"
            ],
            "id": "1562862418514288640",
            "lang": "en",
            "text": "Today we\u2019re beginning to test Tweet Tiles with @nytimes, @wsj and @guardian. Tweet Tiles will let developers extend the Tweet experience and will pave future innovation for our @TwitterDev developer community\ud83d\ude80  \nhttps://t.co/LDyExFq4b1 https://t.co/mKeU87jNIv"
        },
        {
            "author_id": "377367870",
            "edit_history_tweet_ids": [
                "1562864309851799553"
            ],
            "id": "1562864309851799553",
            "lang": "en",
            "text": "Excited to see our Tweet Tiles test go live and understand how people engage with these new formats. Congrats to the entire @TwitterDev team that brought this from concept to reality over the last few months. \ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc https://t.co/hzvzLVKpsr"
        },
        {
            "author_id": "28628425",
            "edit_history_tweet_ids": [
                "1562870321342222336"
            ],
            "id": "1562870321342222336",
            "lang": "en",
            "text": "Love to see another @TwitterDev launch that explores how customized Tweets can change how people on Twitter engage with content on their timeline. Congratulations to the team on this milestone! https://t.co/PcrK3fi0bm"
        },
        {
            "author_id": "857699969263964161",
            "edit_history_tweet_ids": [
                "1562959953060835330"
            ],
            "id": "1562959953060835330",
            "lang": "en",
            "text": "The food at the @TwitterDev connect event at @TwitterSeattle is \ud83d\udcaf \ud83e\udd24 https://t.co/dTwZYQ1AbW"
        },
        {
            "author_id": "786491",
            "edit_history_tweet_ids": [
                "1562926617760079874"
            ],
            "id": "1562926617760079874",
            "lang": "en",
            "text": "More to come as we learn - looking forwards to more developer conversations around new ideas... via Spaces, at our monthly Town Hall sessions, at in-person meetups, and (of course!) at #Chirp in November. Stay tuned!"
        },
        {
            "author_id": "1583250774",
            "edit_history_tweet_ids": [
                "1562929741300224001"
            ],
            "id": "1562929741300224001",
            "lang": "en",
            "text": "I'm so happy that I'm attending #chirp this November. I never woukd have thought that building Twitter bots while changing careers would lead to the life I have now. I'm excited to see what I can do next."
        },
        {
            "author_id": "7871702",
            "edit_history_tweet_ids": [
                "1562576157551525888"
            ],
            "id": "1562576157551525888",
            "lang": "en",
            "text": "#BostonTwitterDev is Getting Started @TwitterBoston w/@2006legend \n@TwitterDev @JessicaGarson @YEmreTapan @JoselinMane +\n\nTonight \n\n\ud83d\udcf0News\n\ud83d\udcbbDemos\n\ud83e\udd1dNetwork\n\ud83c\udf71Food\n\ud83c\udf81Swag +\n\n#TwitterDev #Developer #Chirp\u00a0\u00a0 #TwitterAPI #SpacesAPI\n\nMore info  https://t.co/AJr1SS7LAC https://t.co/UdyapD9XZD https://t.co/TLN9uW6CP5"
        },
        {
            "author_id": "857699969263964161",
            "edit_history_tweet_ids": [
                "1562833350011736065"
            ],
            "id": "1562833350011736065",
            "lang": "en",
            "text": "Students, developers and researchers in the Seattle area \ud83d\udce2 Join us today at 6 pm at the Twitter Seattle Office for our meetup. Learn about the #TwitterAPI v2 and meet our team! RSVP here https://t.co/S1F7MlKJ67 https://t.co/jFxhdlmV1k"
        },
        {
            "author_id": "1345261911089111041",
            "edit_history_tweet_ids": [
                "1562153621080289281"
            ],
            "id": "1562153621080289281",
            "lang": "en",
            "text": "Can\u2019t wait \ud83d\ude01 Excited to meet folks! https://t.co/LHnEHEapCf"
        },
        {
            "author_id": "15772978",
            "edit_history_tweet_ids": [
                "1562124338882613250"
            ],
            "id": "1562124338882613250",
            "lang": "en",
            "text": "Boston! Join me tomorrow!\nhttps://t.co/lKP3J6qkIa"
        },
        {
            "author_id": "23490311",
            "edit_history_tweet_ids": [
                "1562172680899624960"
            ],
            "id": "1562172680899624960",
            "lang": "en",
            "text": "Looking forward meeting the fantastic folks tomorrow I. #Boston For the @TwitterDev Event. \n\nIn-Person @TwitterBoston\n\n#BostonTwitterDev hosted by @JessicaGarson @YEmreTapan @JoselinMane @2006legend \n\n#TwitterDev #Developer #Chirp\u00a0 #TwitterAPI #SpacesAPI https://t.co/dAgfJvSAcj"
        },
        {
            "author_id": "7871702",
            "edit_history_tweet_ids": [
                "1560378245534699520"
            ],
            "id": "1560378245534699520",
            "lang": "en",
            "text": "\ud83d\udea8#Boston New @TwitterDev Event Alert\ud83d\udea8\n\nWed Aug 24 5pm ET\n\nIn-Person @TwitterBoston\n\n#BostonTwitterDev hosted by @JessicaGarson @YEmreTapan @JoselinMane\n\n\ud83d\udcf0News\n\ud83d\udcbbDemos\n\ud83e\udd1dNetwork\n\ud83c\udf71Food\n\ud83c\udf81Swag +\n\n#TwitterDev #Developer #Chirp #TwitterAPI #SpacesAPI\n\nRSVP https://t.co/AJr1SS7dL4 https://t.co/ph56GsBP5x"
        },
        {
            "author_id": "915123141193736192",
            "edit_history_tweet_ids": [
                "1560773287487184903"
            ],
            "id": "1560773287487184903",
            "lang": "en",
            "text": "We managed to submit @Batarr_ just in time for the #chirp dev challenge.\nIt was a tiring process but the impact a solution like https://t.co/WF8DgDTZMl will make gave us enough willpower to complete it.\nMay the universe see it to a good end for all humanity.\n\u267b\ufe0f\ud83d\udcc8 https://t.co/blWOuglIpJ"
        },
        {
            "author_id": "21590574",
            "edit_history_tweet_ids": [
                "1561398269644783622"
            ],
            "id": "1561398269644783622",
            "lang": "en",
            "text": "WEDNESDAY: 5PM \n\nIn-Person @TwitterBoston\n\n#BostonTwitterDev hosted by @JessicaGarson @YEmreTapan @JoselinMane @TwitterDev \n\n\ud83d\udcf0News\n\ud83d\udc26#Chirp info\n\ud83d\udcbbDemos\n\ud83e\udd1dNetwork\n\ud83c\udf71Food\n\ud83c\udf81Swag +\n\n#TwitterDev #Developer #TwitterAPI #SpacesAPI\n\nRSVP https://t.co/90KZr6LBCN https://t.co/8xweS3LhRc"
        },
        {
            "author_id": "3226490524",
            "edit_history_tweet_ids": [
                "1561455384623079424"
            ],
            "id": "1561455384623079424",
            "lang": "en",
            "text": "The return of the Chirp Developer Conference, which enables developers to connect with @TwitterDev team and others in the community in real life and online is about to happen!\n\nSee the hashflags made! \ud83d\udc99 \n\n#Chirp \n#Chirp2022\n#TwitterChirp\n#ChirpDeveloperConference https://t.co/XNDZr8K2e1"
        },
        {
            "author_id": "1475606186036797444",
            "edit_history_tweet_ids": [
                "1560555429993799680"
            ],
            "id": "1560555429993799680",
            "lang": "en",
            "text": "Can't wait to see who wins this years Chirp Challenge!!\n\n#ChirpDevChallenge #Twitter #SoftwareEngineer #SoftwareDeveloper https://t.co/Gdg25FPrFo"
        },
        {
            "author_id": "1268965997622378496",
            "edit_history_tweet_ids": [
                "1560678014454996992"
            ],
            "id": "1560678014454996992",
            "lang": "en",
            "text": "Successfully submitted for the @TweetsMashApp\nproject in the Chirp Developer Challenge by @TwitterDev.\n\nHoping for the results with my fingers crossed!\ud83e\udd1e\n\nhttps://t.co/ivGaf33ebf\n\n #ChirpDevChallenge https://t.co/yWhPzzxY3P"
        },
        {
            "author_id": "708120291516530688",
            "edit_history_tweet_ids": [
                "1560563863665491969"
            ],
            "id": "1560563863665491969",
            "lang": "en",
            "text": "Today\u2019s the deadline for submissions for the #ChirpDevChallenge, and we hope all participating Devs have adequately made their submissions.\n\nSan Francisco awaits!\ud83e\udd29\n\n\ud83c\udfa5 Here\u2019s what transpired at the #AccraBuildDay of the @TwitterDev #ChirpDevChallenge in 140 seconds: https://t.co/FMfq01a8cI"
        },
        {
            "author_id": "102149878",
            "edit_history_tweet_ids": [
                "1559948557926424576"
            ],
            "id": "1559948557926424576",
            "lang": "en",
            "text": "I just updated my submission to the #ChirpDevChallenge  https://t.co/xYaVgA4eNk via @Devpost"
        },
        {
            "author_id": "802130407068233728",
            "edit_history_tweet_ids": [
                "1560022122008875010"
            ],
            "id": "1560022122008875010",
            "lang": "en",
            "text": "Tech folks, this is for you. #ChirpDevChallenge https://t.co/EW4P5pXeEh"
        },
        {
            "author_id": "70915829",
            "edit_history_tweet_ids": [
                "1559727103738007553"
            ],
            "id": "1559727103738007553",
            "lang": "ja",
            "text": "\u23f3Chirp\u30c7\u30d9\u30ed\u30c3\u30d1\u30fc\u30c1\u30e3\u30ec\u30f3\u30b8\u306e\u5fdc\u52df\u7de0\u3081\u5207\u308a\u307e\u3067\u3042\u30683\u65e5\u3002\u65e5\u672c\u6642\u95938\u670820\u65e5\u571f\u66dc\u5348\u524d6\u6642\u304c\u7de0\u5207\u3067\u3059\u3002\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u3092\u4e0b\u66f8\u304d\u4fdd\u5b58\u3057\u305f\u307e\u307e\u306e\u5834\u5408\u306f\u3001Submit\u3059\u308b\u306e\u3092\u304a\u5fd8\u308c\u306a\u304f\uff01"
        },
        {
            "author_id": "549478268",
            "edit_history_tweet_ids": [
                "1559653512140701701"
            ],
            "id": "1559653512140701701",
            "lang": "en",
            "text": "Three days before the deadline, just submitted WatchTower for the @TwitterDev #ChirpDevChallenge. \ud83d\udc26\ud83c\udf89\n\nIt's a web UI, that wraps around my PhD research, and extends Twitter block functionality removing violent extremism from your feed. \ud83d\udd0d\ud83d\udd75\ufe0f\n\nhttps://t.co/GA9DFs8BMs https://t.co/pmMetMX1rr"
        },
        {
            "author_id": "15837844",
            "edit_history_tweet_ids": [
                "1553372419838050305"
            ],
            "id": "1553372419838050305",
            "lang": "en",
            "text": "Help unlock new experience for people on Twitter\ud83d\ude0e and build an app using Twitter's API v2 for a shot at $520k+ in prizes\ud83d\udcb0 \n\nFly over and join the @TwitterDev #ChirpDevChallenge before it's too late \ud83d\udc26  &gt;&gt; https://t.co/R0HZOPYviI https://t.co/2tjchegw07"
        },
        {
            "author_id": "1333680114861711362",
            "edit_history_tweet_ids": [
                "1547876791163179008"
            ],
            "id": "1547876791163179008",
            "lang": "en",
            "text": "So, after brainstorming for a whole day, I've decided on the important features of my (first and) new product\n\nFound a great method to decide on which features to focus on \ud83d\udc47\n\n#buildinginpublic #ChirpDevChallenge https://t.co/JQ0S2aMtzs"
        },
        {
            "author_id": "1311878194417541120",
            "edit_history_tweet_ids": [
                "1559578846986477568"
            ],
            "id": "1559578846986477568",
            "lang": "en",
            "text": "Don't miss our next student programs stream today at 4PM EST on using Twitter API V2! A great learning opportunity to build with Postman! &amp; just in time for #ChirpDevChallenge \n\n#PostmanStudent #GetPostman @RubyDotGif \n\nTwitch: https://t.co/CYW09BkHpf\nYT:https://t.co/DpMFiAmlQo"
        },
        {
            "author_id": "751742646",
            "edit_history_tweet_ids": [
                "1542438810893656066"
            ],
            "id": "1542438810893656066",
            "lang": "qme",
            "text": "#ChirpDevChallenge https://t.co/U5g69u6L2A"
        },
        {
            "author_id": "1274687243895144449",
            "edit_history_tweet_ids": [
                "1550922419262693377"
            ],
            "id": "1550922419262693377",
            "lang": "en",
            "text": "It was great to host a number of developers and enthusiasts at Lagos Chirp Dev Build Day\n\ncc: @TwitterDev @2006legend @Fransunisoft \n\n#BuildUp #BuildDay #LagosTDC #ChirpDevChallenge https://t.co/X2NsRyGwkj"
        },
        {
            "author_id": "15837844",
            "edit_history_tweet_ids": [
                "1552285293268582402"
            ],
            "id": "1552285293268582402",
            "lang": "en",
            "text": "\u2728 Creative \n\n\ud83d\udcbb Technically Savvy \n\n\ud83d\udca1 Ambitious\n\n\u2714\u2714\u2714 Sound like you?  \n\nThen we've got the perfect hackathon - Check out the #ChirpDevChallenge to share your innovative experience built with the Twitter Developer Platform \ud83e\udd29  @TwitterDev &gt;&gt; https://t.co/PpO2dG2H6s https://t.co/12s3cp2CFL"
        },
        {
            "author_id": "199566737",
            "edit_history_tweet_ids": [
                "1553077931592716288"
            ],
            "id": "1553077931592716288",
            "lang": "en",
            "text": "Thinking about participating in the Chirp Developer Challenge?\n\nHere are a few Tweets and resources that might help you come up with that $10000 idea! #hackathon #buildwhatsnext @twitterdev\n\nhttps://t.co/DWrQSTI3Bo"
        },
        {
            "author_id": "517705687",
            "edit_history_tweet_ids": [
                "1557422932380581890"
            ],
            "id": "1557422932380581890",
            "lang": "en",
            "text": "Join @lsaacWritesCode and @RubyDotGif from Postman Student Programs on Tue., 8/16 for the next Student Community stream on Twitch and Youtube. Explore the Twitter API V2 with Postman in time for #ChirpDevChallenge!\nTwitch: https://t.co/ce0twrtEoS\nYoutube: https://t.co/4NStrrcdXJ https://t.co/mFmTnLkWtn"
        },
        {
            "author_id": "482185224",
            "edit_history_tweet_ids": [
                "1558009332826005504"
            ],
            "id": "1558009332826005504",
            "lang": "en",

,text,id,lang,edit_history_tweet_ids,author_id
0,@TwitterDev Tips and tricks would be cool!!,1581308268122877953,en,[1581308268122877953],1136175005060878337
1,On a call with @TwitterDev team looking at the...,1575158698225258500,en,[1575158698225258500],109628138
2,Big thanks @TwitterDev for these wonderful hig...,1575117901647986691,en,[1575117901647986691],1120050519182016513
3,Congratulations to @triketora and the @blockpa...,1572733815965253632,en,[1572733815965253632],108209516
4,"🎉 Thank you so much for the kind gesture, @Twi...",1571949434010992640,en,[1571949434010992640],1264433760

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   text                    97 non-null     object
 1   id                      97 non-null     object
 2   lang                    97 non-null     object
 3   edit_history_tweet_ids  97 non-null     object
 4   author_id               97 non-null     object
dtypes: object(5)
memory usage: 3.9+ KB

## Get Liking Users

In [ ]:
json_response = get_liking_users(user_id, user_fields)
pprint(json_response)

200
{'meta': {'next_token': '7140dibdnow9c7btw420jlmkll17j0clkx1bl4w5gi6nr',
          'result_count': 0}}

In [ ]:
def get_liking_users(id, params):
    url = "https://api.twitter.com/2/tweets/{}/liking_users".format(id)
    # params = {"tweet.fields": "created_at"}
    json_response = connect_to_endpoint_with_params(url, params)
    return json_response


# User fields are adjustable, options include:
# created_at, description, entities, id, location, name,
# pinned_tweet_id, profile_image_url, protected,
# public_metrics, url, username, verified, and withheld
user_fields = "user.fields=created_at,description"
# You can replace the ID given with the Tweet ID you wish to like.
# You can find an ID by using the Tweet lookup endpoint
id = "1590693373056122880"
# You can adjust ids to include a single Tweets.
# Or you can add to up to 100 comma-separated IDs

# Test
user_id = "1590693373056122880"

json_response = get_liking_users(user_id, user_fields)
print(json.dumps(json_response, indent=4, sort_keys=True))

my_liking_users_df = pd.DataFrame(json_response['data'])
my_liking_users_df.head()
my_liking_users_df.info()

200
{
    "data": [
        {
            "created_at": "2011-10-15T22:25:54.000Z",
            "description": "",
            "id": "391659128",
            "name": "Dimitri Schmid",
            "username": "dimitrischmid"
        },
        {
            "created_at": "2015-03-31T15:54:56.000Z",
            "description": "Programming Officer at ONGC!!!",
            "id": "3120779995",
            "name": "ABHISHEK BHARDWAJ",
            "username": "abhishek21795"
        },
        {
            "created_at": "2020-04-29T19:27:35.000Z",
            "description": "",
            "id": "1255579413934030848",
            "name": "devesh_deepak",
            "username": "deveshdeepak9"
        },
        {
            "created_at": "2018-11-29T20:52:12.000Z",
            "description": "I enable insights using data and math. Builder of the contact index. AI consultant for German federal government. Views and titles (Dr. habil.) my own.",
            "id": "1068246270752538630",
            "name": "Sten R\u00fcdiger",
            "username": "StenRuediger"
        },
        {
            "created_at": "2015-08-18T20:34:13.000Z",
            "description": "Data Monger,\nAll opinions are my own.",
            "id": "3319164733",
            "name": "Ifty Mohammad Rezwan",
            "username": "imr165"
        },
        {
            "created_at": "2010-12-04T12:00:35.000Z",
            "description": "",
            "id": "222772258",
            "name": "Oscar Camara",
            "username": "oscarcamararey"
        },
        {
            "created_at": "2021-12-17T07:27:30.000Z",
            "description": "",
            "id": "1471743787609194496",
            "name": "Indrani Paul Roy",
            "username": "IPaulROY"
        },
        {
            "created_at": "2009-08-31T12:44:04.000Z",
            "description": "",
            "id": "70383061",
            "name": "J Carlos Silva",
            "username": "joscarlossr"
        },
        {
            "created_at": "2019-01-11T04:29:44.000Z",
            "description": "",
            "id": "1083581701857505281",
            "name": "Suhas Belligundu",
            "username": "suhasbelligundu"
        },
        {
            "created_at": "2010-08-24T14:24:57.000Z",
            "description": "Working on Data Science projects... Learning new things and skills is a life-long process",
            "id": "182400991",
            "name": "Jose Luis Garcia Casales",
            "username": "josua_carmary"
        },
        {
            "created_at": "2015-10-09T09:25:37.000Z",
            "description": "",
            "id": "3907657955",
            "name": "Ay\u015fe Ba\u015far",
            "username": "bener72083885"
        },
        {
            "created_at": "2015-09-12T20:11:48.000Z",
            "description": "Posts about machine learning, programming, investing, & business\nML engineer, physics masters, builder-explorer\nFree newsletter: https://t.co/mdn6ch0jLa",
            "id": "3634719688",
            "name": "Vaclav Kosar .com",
            "username": "vackosar"
        },
        {
            "created_at": "2010-02-04T13:16:03.000Z",
            "description": "data science, psychology | \u0441\u043a\u0443\u0447\u0430\u044e \u043f\u043e \u0433\u043e\u0440\u043d\u044b\u043c \u043f\u043e\u0445\u043e\u0434\u0430\u043c",
            "id": "111303269",
            "name": "Pavel Balov",
            "username": "balovp"
        },
        {
            "created_at": "2012-07-06T18:13:04.000Z",
            "description": "Security Engineer at Alexa AI, Amazon | Building Machine Learning-based Security Solutions",
            "id": "628602422",
            "name": "Mansour Ahmadi",
            "username": "ManSoSec"
        },
        {
            "created_at": "2007-05-07T17:55:24.000Z",
            "description": "In search of causality, composition & the right abstraction. CTO @ Headspace Health.  alex (dot) boisvert (at) gmail (dot) youknowhat.",
            "id": "5839352",
            "name": "Alex Boisvert",
            "username": "boia01"
        },
        {
            "created_at": "2015-01-09T15:55:50.000Z",
            "description": "Interests: Machine learning, NLP, understanding understanding, mathematical puzzles.",
            "id": "2969646884",
            "name": "Sam Roy",
            "username": "shombuddho"
        },
        {
            "created_at": "2011-07-05T16:22:33.000Z",
            "description": "PhD in machine learning and smart cities from @NUSingapore. Multi-instrumentalist, quote collector | h(e/im/is)",
            "id": "329781195",
            "name": "Matias",
            "username": "_matqr"
        },
        {
            "created_at": "2014-12-18T22:51:31.000Z",
            "description": "",
            "id": "2931056314",
            "name": "icelandicstorm",
            "username": "icelandicstorm1"
        },
        {
            "created_at": "2012-11-14T10:14:08.000Z",
            "description": "",
            "id": "947469122",
            "name": "Philip Sterne",
            "username": "Philip_Sterne"
        },
        {
            "created_at": "2016-03-10T12:43:04.000Z",
            "description": "",
            "id": "707909638545477632",
            "name": "Navreet Kaur",
            "username": "navreeetkaur"
        },
        {
            "created_at": "2018-11-29T16:47:49.000Z",
            "description": "'But we can't know better until knowing better is useless'",
            "id": "1068184767122817024",
            "name": "Monika",
            "username": "monika___t"
        },
        {
            "created_at": "2022-01-21T09:55:51.000Z",
            "description": "",
            "id": "1484464672489283584",
            "name": "Ahmed Idrissi",
            "username": "aiyagh"
        },
        {
            "created_at": "2009-12-10T14:00:12.000Z",
            "description": "Indian",
            "id": "95906214",
            "name": "Naveen",
            "username": "naveen233"
        },
        {
            "created_at": "2009-06-23T22:28:22.000Z",
            "description": "Bayesian Data Scientist | Machine Lerning trainer | Python&R | dog lover | economics and politics. \n\nOpinions are my own.",
            "id": "50124034",
            "name": "Eduardo Mar\u00edn Nicolalde",
            "username": "em22en"
        },
        {
            "created_at": "2021-06-10T10:26:16.000Z",
            "description": "Someone who likes math. PhD Candidate @bmic_eth @CVL_ETH, MSc D-ITET @ETH. BSc EE/Physics @UniBogazici",
            "id": "1402933394821025793",
            "name": "g\u00fcn",
            "username": "guneytombak"
        },
        {
            "created_at": "2019-11-05T08:22:06.000Z",
            "description": "",
            "id": "1191631695948075008",
            "name": "Wanderer",
            "username": "test_2account"
        },
        {
            "created_at": "2022-01-26T22:07:00.000Z",
            "description": "web3",
            "id": "1486460666131070979",
            "name": "HurshPT-3",
            "username": "hurshdesai"
        },
        {
            "created_at": "2018-01-07T16:48:40.000Z",
            "description": "I'm here for Sri Lanka's marginal twitter community, and the memes.",
            "id": "933489719639281664",
            "name": "Rasheed Azeez",
            "username": "Rasheed88246245"
        },
        {
            "created_at": "2022-09-13T04:50:08.000Z",
            "description": "Into the inferno",
            "id": "1569548851484442624",
            "name": "Grizzly Man",
            "username": "BurnerHerz0g"
        },
        {
            "created_at": "2016-06-13T17:07:43.000Z",
            "description": "Lecturer @BUETBME",
            "id": "742403083875946496",
            "name": "Shams Nafisa Ali",
            "username": "nafisa_shams16"
        },
        {
            "created_at": "2017-11-29T16:49:55.000Z",
            "description": "You know if you need to know.",
            "id": "935913725743194113",
            "name": "Cyberwizard",
            "username": "cwizprod1"
        },
        {
            "created_at": "2021-10-12T19:26:56.000Z",
            "description": "Founder @ai__pub, a modern AI media + AI recruiting company. Analyst + scientific consultant at Swift Ventures (B2B AI VC). On leave from UW ML PhD.",
            "id": "1448007234458247170",
            "name": "Brian Burns",
            "username": "brian_a_burns"
        },
        {
            "created_at": "2020-01-08T06:37:09.000Z",
            "description": "Vews are personal; do not reflect opinion of the place I work. Retweets draw attention, not all retweets are endorsements",
            "id": "1214798125866438656",
            "name": "Narasimha",
            "username": "narasimba7"
        },
        {
            "created_at": "2010-10-13T15:12:12.000Z",
            "description": "Memes. Games. Science. Tech. Film. Music. Machines. Cosmos. Dogs. AI. Robotics. Life is an engineering problem. \n\nAutonomy Engineer.\n\nAll tweets are dumb.",
            "id": "202215519",
            "name": "Varshith Reddy",
            "username": "varshith47"
        },
        {
            "created_at": "2010-03-28T07:37:33.000Z",
            "description": "",
            "id": "127159325",
            "name": "Stephen Oates",
            "username": "stephenjaoates"
        },
        {
            "created_at": "2020-05-06T02:42:33.000Z",
            "description": "",
            "id": "1257863234830229504",
            "name": "man_11",
            "username": "man1157966700"
        },
        {
            "created_at": "2021-12-27T14:08:57.000Z",
            "description": "Quantum information entangled",
            "id": "1475468704343277571",
            "name": "H",
            "username": "qntmrealm"
        },
        {
            "created_at": "2012-02-19T11:26:29.000Z",
            "description": "Data Scientist at @IBM | Data is all we need",
            "id": "496875953",
            "name": "Amit meel",
            "username": "immeelamit"
        },
        {
            "created_at": "2021-06-20T09:06:35.000Z",
            "description": "",
            "id": "1406538857055653891",
            "name": "Andrei",
            "username": "buvikan"
        },
        {
            "created_at": "2009-11-07T14:48:30.000Z",
            "description": "Let me take you back to reality with my badly composed tweets.",
            "id": "88199046",
            "name": "Wafiakmal",
            "username": "wafiakmal"
        },
        {
            "created_at": "2021-12-26T05:05:32.000Z",
            "description": "Thinking...",
            "id": "1474969508632690688",
            "name": "Gowri Shankar",
            "username": "gowrishap"
        },
        {
            "created_at": "2022-01-04T19:02:51.000Z",
            "description": "\u0645\u06cc\u200c\u0634\u0648\u06cc\u0645 \u0622\u063a\u0627\u0632 \u0627\u0632 \u0622\u0646\u062c\u0627\u06cc\u06cc \u06a9\u0647 \u067e\u0627\u06cc\u0627\u0646 \u0634\u0645\u0627\u0633\u062a",
            "id": "1478441418528075776",
            "name": "ramtin",
            "username": "ramtinmk82"
        },
        {
            "created_at": "2021-05-18T03:31:02.000Z",
            "description": "",
            "id": "1394495671495966720",
            "name": "borch",
            "username": "borch48843545"
        },
        {
            "created_at": "2015-12-31T10:38:28.000Z",
            "description": "AGI + Human Optimization + Philosophy",
            "id": "4663632555",
            "name": "Mustafa Khan",
            "username": "Inventkhan"
        },
        {
            "created_at": "2017-06-10T13:26:06.000Z",
            "description": "",
            "id": "873531721773445120",
            "name": "Woods",
            "username": "Woodsos"
        },
        {
            "created_at": "2016-01-10T02:31:32.000Z",
            "description": "",
            "id": "4736197393",
            "name": "\u9ad8\u5a01",
            "username": "SaberArthurus"
        },
        {
            "created_at": "2016-02-27T12:52:11.000Z",
            "description": "",
            "id": "703563276924252160",
            "name": "Star Dai",
            "username": "leoxy0"
        },
        {
            "created_at": "2019-03-28T12:08:42.000Z",
            "description": "Machine Learning Practitioner - I train Machine Learning Models on my day job",
            "id": "1111238681895944193",
            "name": "Jums \ud83d\udc00",
            "username": "devjumzzz"
        },
        {
            "created_at": "2009-08-04T11:11:36.000Z",
            "description": "Naski\u011dis en la 1980 kaj esperantisti\u011dis en la 2008.",
            "id": "62788912",
            "name": "Salikh Zakirov",
            "username": "salikhzakirov"
        },
        {
            "created_at": "2014-01-03T11:16:26.000Z",
            "description": "AI research @wayve_ai. Interested in machine learning, computer vision, and autonomous systems. Prev: NUS, TUM",
            "id": "2259865480",
            "name": "Jan H\u00fcnermann",
            "username": "janhuenermann"
        },
        {
            "created_at": "2021-10-14T10:07:59.000Z",
            "description": "hypercuration of bio knowledge. follow at your own risk\n\ud83e\uddec\ud83e\uddea\ud83e\uddeb\ud83d\udcbb\ud83d\udd2c",
            "id": "1448591362232827904",
            "name": "biotech feed",
            "username": "bot_biotech"
        },
        {
            "created_at": "2020-02-24T18:06:45.000Z",
            "description": "Finding meaning within 0s and 1s.\nPassionate Machine Learning Engineer",
            "id": "1232003896848965633",
            "name": "Htut Lynn Aung",
            "username": "EidiosH"
        },
        {
            "created_at": "2021-10-29T02:09:37.000Z",
            "description": "",
            "id": "1453906808544710656",
            "name": "Gyuseong Lee",
            "username": "gseonglee"
        },
        {
            "created_at": "2015-01-19T20:13:03.000Z",
            "description": "",
            "id": "2986261131",
            "name": "Nyanpasu",
            "username": "EucliwoodSenpai"
        },
        {
            "created_at": "2010-07-23T17:16:06.000Z",
            "description": "Deep Learning Enthusiast",
            "id": "169982272",
            "name": "vijin",
            "username": "vijinkp"
        },
        {
            "created_at": "2022-09-06T10:38:02.000Z",
            "description": "",
            "id": "1567099636610961409",
            "name": "Ryan of NYC",
            "username": "ryanofnyc"
        },
        {
            "created_at": "2011-05-17T06:55:26.000Z",
            "description": "AI/ML Startup Advising & Investing. Strong Opinions, Weakly Held.",
            "id": "300114095",
            "name": "Aaron Melgar",
            "username": "aaronamelgar"
        },
        {
            "created_at": "2008-08-17T13:49:50.000Z",
            "description": "Product Management Director, Google AI, working on privacy and security. Formerly Google Maps. This is a private account and all opinions are my own.",
            "id": "15881871",
            "name": "seefeld",
            "username": "seefeld"
        },
        {
            "created_at": "2016-08-08T15:25:38.000Z",
            "description": "",
            "id": "762671115323969536",
            "name": "Helpstone",
            "username": "helpstonex"
        },
        {
            "created_at": "2020-11-30T09:20:25.000Z",
            "description": "Applied Mathematics graduate,\ninterested in quantum optimization, hybrid algorithms, swarm and evolutionary algorithms.",
            "id": "1333340024981504001",
            "name": "Tarun",
            "username": "Telugupoem"
        },
        {
            "created_at": "2022-02-24T16:50:51.000Z",
            "description": "PhD student at korea univ #NLP, #Dialogue, #AnomalyDetection",
            "id": "1496890335191965708",
            "name": "Yukyung Lee",
            "username": "yukyunglee_"
        },
        {
            "created_at": "2020-05-23T04:46:07.000Z",
            "description": "",
            "id": "1264054915099267073",
            "name": "Tu Tran Van",
            "username": "TuTranVan1"
        },
        {
            "created_at": "2021-09-10T03:33:50.000Z",
            "description": "",
            "id": "1436170912559087620",
            "name": "sylvain p",
            "username": "sylvain50166263"
        },
        {
            "created_at": "2015-11-26T15:30:40.000Z",
            "description": "Busy in Learning, Unlearning and Relearning.",
            "id": "4286633897",
            "name": "Bharati \ud83d\udc51\ud83d\udc1d",
            "username": "KveenB"
        },
        {
            "created_at": "2010-07-28T09:06:13.000Z",
            "description": "..#Oluwa Is Involved..GOD FIRST",
            "id": "171845350",
            "name": "SEAN !!!\u2122",
            "username": "pinopelly"
        },
        {
            "created_at": "2012-01-24T11:10:47.000Z",
            "description": "",
            "id": "472851696",
            "name": "Arun Patala",
            "username": "ArunPatala"
        },
        {
            "created_at": "2012-09-20T19:47:13.000Z",
            "description": "I enjoy halal chicken over rice.",
            "id": "836238662",
            "name": "NB",
            "username": "HereAreThoughts"
        },
        {
            "created_at": "2016-02-23T06:29:02.000Z",
            "description": "",
            "id": "702017301298589696",
            "name": "ShankararamaSharma R",
            "username": "rama21094"
        },
        {
            "created_at": "2012-04-07T00:06:12.000Z",
            "description": "",
            "id": "547270278",
            "name": "David Jimenez",
            "username": "KermitX234"
        },
        {
            "created_at": "2013-06-19T02:35:11.000Z",
            "description": "Composer, re-recording mixer for films, TV, trailers, promos & commercials. Data-science, ML & AI python programmer.",
            "id": "1529479190",
            "name": "Brian Arbuckle",
            "username": "brian_arbuckle"
        },
        {
            "created_at": "2016-02-05T16:38:48.000Z",
            "description": "MS Computer Engineering @UCRiverside | Palm trees and 80 degrees",
            "id": "4865256541",
            "name": "Anirudh Tulasi",
            "username": "AnirudhTulasi"
        },
        {
            "created_at": "2008-10-29T18:55:54.000Z",
            "description": "Food | Gardening | WSET certified wine lover | \ud83d\udc69\u200d\ud83d\udc67\u200d\ud83d\udc66 | Tweets on marketing and team ops | SaaS VP Marketing by day | Building @call_margo",
            "id": "17048097",
            "name": "Paige Hewlett",
            "username": "paigehewlett"
        },
        {
            "created_at": "2009-08-26T04:14:55.000Z",
            "description": "\u7c73\u56fd \u67d0\u533b\u79d1\u5927\u5b66 \u52a9\u6559\u6388 Computational Biologist Systems Biology/Bioinformatics/Drug Discovery\n\u65e5\u672c\u306e\u30a2\u30ab\u30c7\u30df\u30a2\u306b\u99b4\u67d3\u3081\u305a\u3001\u65e5\u672c\u306e\u4f01\u696d\u306b\u3082\u99b4\u67d3\u3081\u305a\u3001\u4ed5\u65b9\u306a\u3044\u306e\u3067\u7c73\u56fd\u306e\u30a2\u30ab\u30c7\u30df\u30a2\u3067\u99b4\u67d3\u307e\u305a\u306b\u66ae\u3089\u3057\u3066\u3044\u307e\u3059\u3002\u3067\u3082\u3044\u3064\u304b\u3069\u3053\u304b\u3067\u99b4\u67d3\u307f\u305f\u3044\u3067\u3059\u3002",
            "id": "68897768",
            "name": "aynihs PhD",
            "username": "yuanshin"
        },
        {
            "created_at": "2016-12-19T11:18:54.000Z",
            "description": "",

,id,name,description,username,created_at
0,391659128,Dimitri Schmid,,dimitrischmid,2011-10-15T22:25:54.000Z
1,3120779995,ABHISHEK BHARDWAJ,Programming Officer at ONGC!!!,abhishek21795,2015-03-31T15:54:56.000Z
2,1255579413934030848,devesh_deepak,,deveshdeepak9,2020-04-29T19:27:35.000Z
3,1068246270752538630,Sten Rüdiger,I enable insights using data and math. Builder...,StenRuediger,2018-11-29T20:52:12.000Z
4,3319164733,Ifty Mohammad Rezwan,"Data Monger,\nAll opinions are my own.",imr165,2015-08-18T20:34:13.000Z

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           93 non-null     object
 1   name         93 non-null     object
 2   description  93 non-null     object
 3   username     93 non-null     object
 4   created_at   93 non-null     object
dtypes: object(5)
memory usage: 3.8+ KB

# END OF NOTEBOOK

## Appendix: Set Union

In [ ]:
# Find common elements in 2 data collections (here lists)
# 
aoc_ls = [1,2,3,4,5,6,7,8,9,10]
mgt_ls = [8,9,10,11,12,13,14,15,16,17,18]

common_ls = list(set(aoc_ls).intersection(set(mgt_ls)))

[8, 9, 10]

In [ ]:
for auser in common_ls:
    user (user_fields=['created_at','public_metrics'])

## Appendix: Join csv

In [ ]:
aoc_followers_df = pd.read_csv('aoc_following_ids.csv', index_col=[0])
aoc_followers_df.head()
aoc_followers_df.info()

,id,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
NaN,13479,NaN,NaN,NaN,NaN,NaN
NaN,21619519,NaN,NaN,NaN,NaN,NaN
NaN,1391845341641773067,NaN,NaN,NaN,NaN,NaN
NaN,1051837159639007233,NaN,NaN,NaN,NaN,NaN
NaN,136550204,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3939 entries, nan to nan
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3939 non-null   int64
 1   Unnamed: 2  3 non-null      object
 2   Unnamed: 3  0 non-null      float64
 3   Unnamed: 4  0 non-null      float64
 4   Unnamed: 5  0 non-null      float64
 5   Unnamed: 6  0 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 215.4+ KB

In [ ]:
mtg_followers_df = pd.read_csv('mtg_following_ids.csv', index_col=[0])
mtg_followers_df.head()
mtg_followers_df.info()

,id,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
NaN,935942321756966912,NaN,NaN,NaN,NaN,NaN
NaN,902200087,NaN,NaN,NaN,NaN,NaN
NaN,214924095,NaN,NaN,NaN,NaN,NaN
NaN,1565070900243873792,NaN,NaN,NaN,NaN,NaN
NaN,44196397,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Float64Index: 275 entries, nan to nan
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          275 non-null    int64
 1   Unnamed: 2  0 non-null      float64
 2   Unnamed: 3  0 non-null      float64
 3   Unnamed: 4  0 non-null      float64
 4   Unnamed: 5  0 non-null      float64
 5   Unnamed: 6  0 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 15.0 KB

In [ ]:
aoc_followers_ls = aoc_followers_df.id.to_list()
len(aoc_followers_ls)
aoc_followers_ls[:5]

3939

[13479, 21619519, 1391845341641773067, 1051837159639007233, 136550204]

In [ ]:
mtg_followers_ls = mtg_followers_df.id.to_list()
len(mtg_followers_ls)
mtg_followers_ls[:5]

275

[935942321756966912, 902200087, 214924095, 1565070900243873792, 44196397]

In [ ]:
aoc_mtg_followers_ls = list(set(aoc_followers_ls).intersection(set(mtg_followers_ls)))
len(aoc_mtg_followers_ls)
aoc_mtg_followers_ls

8

[2916305152, 18208354, 975200486, 17685258, 12, 963480595, 15207668, 353890966]

## Appendix: Junk

In [ ]:
# Twitter Standard API v1.1
# Get Tweet Timelines
# https://developer.twitter.com/en/docs/twitter-api/v1/tweets/timelines/api-reference/get-statuses-user_timeline

api.user_timeline('GovEvers')

In [ ]:
govs_tweets_df = pd.DataFrame()

for i, agov_username in enumerate(govs_username_ls[:3]):
    print(f'Processing #{i}: {agov_username}')
    get_user_tweets(x.Twitter_username, x.Political_party),axis=1)
gc.collect()
    # govs_tweets_df.append(agov_username)
    # govs_df.apply(lambda x:get_user_tweets(x.Twitter_username, x.Political_party),axis=1)
    df.apply(lambda x:get_user_tweets(x.Twitter_username, x.Political_party),axis=1)
gc.collect()
    gc.collect()

Processing #0: GovEvers

26

Processing #1: TinaKotek

0

Processing #2: GovSisolak

0